html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%; // stylelint-disable-line
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  background-color: $body-bg;

  font-family: $base-font;
  font-size: $font-size;
  line-height: $line-height;
  font-style: normal;
  font-weight: 400;
  color: $b-color;
  word-break: break-word;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
}

::-webkit-input-placeholder {
  color: $b-color;
  opacity: 1;
}

:-moz-placeholder {
  color: $b-color;
  opacity: 1;
}

::-moz-placeholder {
  color: $b-color;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $b-color;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: $b-color;
}

body input:required:valid,
body textarea:required:valid {
  color: $b-color;
}

::selection {
  background-color: $b-color;
  color: #ffffff;
}

main {
  min-height: 100%;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  // &:hover,
  // &:focus {
  //   color: $link-color--hover;
  // }

  // &:visited {
  // 	color: @link-color--hover;
  // }
}

textarea {
  resize: vertical; // Правильное изменение размеров
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role="button"] {
  cursor: pointer;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.nooveflow {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  padding-right: 20px;
}

.break-word {
  word-break: break-all;
  hyphens: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Custom animation*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/** {
  outline: @outline;
}*/
.sliced {
  position: relative;
  width: 640px;
  height: 400px;
}
.tile {
  float: left;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.tile-animated {
  opacity: 0;
}
.css3-preload .sliced * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.js-normal-version {
  display: none;

  &.active {
    display: block;
  }
}

.page--fixed {
  // overflow: hidden;
  // height: 100%;
  // width: 100%;
  // position: fixed;
  // z-index: 0;
}

* {
  -webkit-overflow-scrolling: touch;
}
// *,
// *::before,
// *::after {
//   outline: 2px solid yellow;
// }

// html.contrast {
//   color: #000 !important;

//   * {
//     // font-size: 24px !important;
//     // line-height: 1.2 !important;
//     color: #000 !important;

//     p {
//       color: #000 !important;
//     }
//   }
// }

// .select-hidden {
//   display: none;
//   visibility: hidden;
//   padding-right: 10px;
// }

// .select {
//   cursor: pointer;
//   display: inline-block;
//   position: relative;
//   font-size: 16px;
//   color: #fff;
//   width: 220px;
//   height: 40px;
// }

// .select-styled {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: #c0392b;
//   padding: 8px 15px;
//   -moz-transition: all 0.2s ease-in;
//   -o-transition: all 0.2s ease-in;
//   -webkit-transition: all 0.2s ease-in;
//   transition: all 0.2s ease-in;
// }
// .select-styled:after {
//   content: "";
//   width: 0;
//   height: 0;
//   border: 7px solid transparent;
//   border-color: #fff transparent transparent transparent;
//   position: absolute;
//   top: 16px;
//   right: 10px;
// }
// .select-styled:hover {
//   background-color: #b83729;
// }
// .select-styled:active,
// .select-styled.active {
//   background-color: #ab3326;
// }
// .select-styled:active:after,
// .select-styled.active:after {
//   top: 9px;
//   border-color: transparent transparent #fff transparent;
// }

// .select-options {
//   display: none;
//   position: absolute;
//   top: 100%;
//   right: 0;
//   left: 0;
//   z-index: 999;
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   background-color: #ab3326;
// }
// .select-options li {
//   margin: 0;
//   padding: 12px 0;
//   text-indent: 15px;
//   border-top: 1px solid #962d22;
//   -moz-transition: all 0.15s ease-in;
//   -o-transition: all 0.15s ease-in;
//   -webkit-transition: all 0.15s ease-in;
//   transition: all 0.15s ease-in;
// }
// .select-options li:hover {
//   color: #c0392b;
//   background: #fff;
// }
// .select-options li[rel="hide"] {
//   display: none;
// }
.active-filter {
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
  border: none;
  color: #fff;

  background: $s-color;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  transition: all 0.3;
  cursor: pointer;

  &:hover {
    background: #de2b62;
  }

  &:focus,
  &:active {
    background: #ac103f;
  }
}

.download-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #b69953;
}

.read-more-show,
.read-more-hide {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 21px;
}

.read-more-show {
  color: $s-color;
  background-image: url("../img/icons/read-more-icon.svg");
}

.read-more-hide {
  color: #b69953;
  background-image: url("../img/icons/read-less-icon.svg");
}

.hide {
  display: none;
}

.lg-actions {
  .lg-prev {
    width: 13px;
    height: 32px;
    background-color: transparent;
    background-image: url("../img/icons/arrow_left_pink.svg");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    cursor: pointer;
    filter: grayscale(1) brightness(10);

    &:hover {
      filter: grayscale(0) brightness(1);
    }
  }
  .lg-next {
    width: 13px;
    height: 32px;
    background-color: transparent;
    background-image: url("../img/icons/arrow_right_pink.svg");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    cursor: pointer;
    filter: grayscale(1) brightness(10);

    &:hover {
      filter: grayscale(0) brightness(1);
    }
  }
}

.lg-sub-html {
  max-width: 886px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f3f3;
  color: #000000;
  text-align: left;

  // h4 {
  //   margin: 0;
  //   font-size: 18px;
  //   line-height: 23px;
  //   font-weight: 400;
  // }

  p {
    margin: 2px 0;
    font-family: $sec-font;
    font-size: 14px;
    line-height: 136.39%;
    /* or 19px */
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    // h4 {
    //   width: 30%;
    // }

    p {
      //width: 70%;
      padding: 0 20px;
    }
  }
}

.lg-outer {
  outline: none;
  &:focus,
  &:active {
    outline: none;
  }

  .lg-inner {
    // max-width: 886px;
    left: 50%;
    transform: translateX(-50%);
  }

  .lg-img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
      display: none;
    }
  }

  .lg-image {
    display: block;
    // max-width: 886px;
    // width: 100% !important;
    height: auto !important;
  }
}

.lg-toolbar .lg-icon {
  color: #fff;
}

.lg-backdrop {
  background: rgba(72, 70, 74, 0.8);
}

.lg-toolbar {
  background-color: transparent;
}

.slick-arrow {
  &:focus,
  &:active {
    outline: none;
  }
}

.slick-slide {
  &:focus,
  &:active {
    outline: none;
  }
}

.page_anchor::before {
  display: block;
  content: "";
  height: 88px;
  margin: -88px 0 0;
}
