<section class="accordion">
  <h2 class="accordion__title">Подзаголовок блока аккордеонного типа</h2>
  <div class="accordion__panel">
    <h3 class="accordion__header">Устав с изменениями</h3>
    <div class="accordion__body">
      <p>Коррупция — злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление
        полномочиями,
        коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки
        законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества
        или
        услуг имущественного характера, иных имущественных прав для себя или для третьих лиц либо незаконное
        предоставление такой выгоды указанному лицу другими физическими лицами. Противодействие коррупции —
        деятельность
        федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации,
        органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их
        полномочий.</p>


      <div class="accordion__panel  accordion__panel--inner">
        <h3 class="accordion__header">Подпункт</h3>

        <div class="accordion__body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint magnam rerum, reiciendis assumenda temporibus
            eaque officia provident id, repellat doloremque quidem distinctio rem nam. Mollitia sint voluptatem quae
            culpa! Nam!</p>




          <div class="accordion__panel  accordion__panel--inner">
            <h3 class="accordion__header">Подпункт</h3>

            <div class="accordion__body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint magnam rerum, reiciendis assumenda
                temporibus
                eaque officia provident id, repellat doloremque quidem distinctio rem nam. Mollitia sint voluptatem quae
                culpa! Nam!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion__panel">
    <h3 class="accordion__header">Копии лицензий</h3>
    <div class="accordion__body">
      <p>Коррупция — злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление
        полномочиями,
        коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки
        законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества
        или
        услуг имущественного характера, иных имущественных прав для себя или для третьих лиц либо незаконное
        предоставление такой выгоды указанному лицу другими физическими лицами. Противодействие коррупции —
        деятельность
        федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации,
        органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их
        полномочий.</p>
    </div>
  </div>
  <div class="accordion__panel">
    <h3 class="accordion__header  toggle">Свидетельства и регистрации</h3>
    <div class="accordion__body">
      <p>Коррупция — злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление
        полномочиями,
        коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки
        законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества
        или
        услуг имущественного характера, иных имущественных прав для себя или для третьих лиц либо незаконное
        предоставление такой выгоды указанному лицу другими физическими лицами. Противодействие коррупции —
        деятельность
        федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации,
        органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их
        полномочий.</p>
    </div>
  </div>
  <div class="accordion__panel">
    <h3 class="accordion__header">Политика конфиденциальности и обработки персональных данных</h3>
    <div class="accordion__body">
      <p>Коррупция — злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление
        полномочиями,
        коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки
        законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества
        или
        услуг имущественного характера, иных имущественных прав для себя или для третьих лиц либо незаконное
        предоставление такой выгоды указанному лицу другими физическими лицами. Противодействие коррупции —
        деятельность
        федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации,
        органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их
        полномочий.</p>
    </div>
  </div>
  <div class="accordion__panel">
    <h3 class="accordion__header">Противодействие коррупции</h3>
    <div class="accordion__body">
      <p>Коррупция — злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление
        полномочиями,
        коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки
        законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества
        или
        услуг имущественного характера, иных имущественных прав для себя или для третьих лиц либо незаконное
        предоставление такой выгоды указанному лицу другими физическими лицами. Противодействие коррупции —
        деятельность
        федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации,
        органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их
        полномочий.</p>
    </div>
  </div>
  <div class="accordion__panel">
    <h3 class="accordion__header">Положение о филиалах</h3>
    <div class="accordion__body">
      <p>Коррупция — злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление
        полномочиями,
        коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки
        законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества
        или
        услуг имущественного характера, иных имущественных прав для себя или для третьих лиц либо незаконное
        предоставление такой выгоды указанному лицу другими физическими лицами. Противодействие коррупции —
        деятельность
        федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации,
        органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их
        полномочий.</p>
    </div>
  </div>
  <div class="accordion__panel">
    <h3 class="accordion__header">Сведения о руководителе</h3>
    <div class="accordion__body">
      <p>Коррупция — злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление
        полномочиями,
        коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки
        законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества
        или
        услуг имущественного характера, иных имущественных прав для себя или для третьих лиц либо незаконное
        предоставление такой выгоды указанному лицу другими физическими лицами. Противодействие коррупции —
        деятельность
        федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации,
        органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их
        полномочий.</p>
    </div>
  </div>
  <div class="accordion__panel">
    <h3 class="accordion__header">Условия информационной рассылки</h3>
    <div class="accordion__body">
      <p>Коррупция — злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление
        полномочиями,
        коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки
        законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества
        или
        услуг имущественного характера, иных имущественных прав для себя или для третьих лиц либо незаконное
        предоставление такой выгоды указанному лицу другими физическими лицами. Противодействие коррупции —
        деятельность
        федеральных органов государственной власти, органов государственной власти субъектов Российской Федерации,
        органов местного самоуправления, институтов гражданского общества, организаций и физических лиц в пределах их
        полномочий.</p>
    </div>
  </div>
  <h3 class="accordion__header-link"><a href="#">Просто ссылка</a></h3>
</section>
