<div class="marquee">
  <div class="marquee__wrapper">
    <div class="marquee__text">
      <p>Внимание! В связи с осложнившейся ситуацией по коронавирусу, мы зак...</p>
    </div>
    <a href="#" class="marquee__link">Подробнее</a>
    <button class="marquee__close-btn" type="button"><span class="visually-hidden">Закрыть строку</span></button>
  </div>

</div>
<header class="header">

  <div class="header__wrapper">

    <div class="header__logo">
      <a href="#" class="logo">
        <img src="img/logo.svg" alt="Логотип Государственный центральный музей современной истории России" width="49"
          height="20">
        <div class="logo__text">Государственный центральный музей современной истории России</div>
        <div class="logo__slogan">Историю создаете вы!</div>
      </a>
    </div>

    <div class="header__user-block">

      <div class="lang">
        <button class="lang__btn" type="button">RU</button>
        <ul class="lang__list">
          <li class="lang__item"><a href="#">RU</a></li>
          <li class="lang__item"><a href="#">ENG</a></li>
        </ul>
      </div>

      <div class="header__search">
        <button class="header__search-activate" type="button"><span class="visually-hidden">Открыть форму
            поиска</span></button>
        <form action="#" method="GET" class="header__search-form">
          <input type="text">
          <button type="submit" class="header__search-form-btn"><span class="visually-hidden">Найти</span></button>
        </form>
      </div>

      <ul class="header__menu-list">
        <li class="header__menu-item"><a href="#">Билеты</a></li>
        <li class="header__menu-item"><a href="#">Адреса</a></li>
        <li class="header__menu-item"><a href="#">Время работы</a></li>
      </ul>
    </div>

    {% include "../partials/_nav.html" %}
  </div>
</header>
