<section class="main-slider">
  <ul class="main-slider__list">
    <li class="main-slider__item">
      <article class="main-slider__article  main-slider__article--bg-img">

        <picture>
          <source media="(min-width: 1440px)" data-src="/img/main-slider/slide-1-desktop.jpg"
            srcset="/img/main-slider/slide-1-desktop.jpg">
          <source media="(min-width: 768px)" data-src="/img/main-slider/slide-1-tablet.jpg"
            srcset="/img/main-slider/slide-1-tablet.jpg">
          <img class="lozad" data-src="/img/main-slider/slide-1-mobile.jpg" src="/img/main-slider/slide-1-mobile.jpg"
            alt="Фотография к новости" loading="lazy">
        </picture>

        <div class="main-slider__item-description">
          <div class="main-slider__item-type">
            <p>Экспозиция</p>
          </div>

          <div class="main-slider__item-text">
            <h2><a href="#">В 2024 году Музей отмечает 100-летие! В нем сохранены интерьеры знаменитого Московского
                Английского
                клуба
                XIX в</a>
            </h2>
            <p>с 15 апреля в музее</p>
          </div>

          <div class="main-slider__item-place">
            <p>Москва, ул. Садовническая, д. 30, стр. 1</p>
          </div>
        </div>
      </article>
    </li>
    <li class="main-slider__item">
      <article class="main-slider__article  main-slider__article--bg-img">

        <picture>
          <source media="(min-width: 1440px)" data-src="/img/main-slider/slide-2-desktop.jpg"
            srcset="/img/main-slider/slide-2-desktop.jpg">
          <source media="(min-width: 768px)" data-src="/img/main-slider/slide-2-tablet.jpg"
            srcset="/img/main-slider/slide-2-tablet.jpg">
          <img class="lozad" data-src="/img/main-slider/slide-2-mobile.jpg" src="/img/main-slider/slide-1-mobile.jpg"
            alt="Фотография к новости" loading="lazy">
        </picture>

        <div class="main-slider__item-description">
          <div class="main-slider__item-type">
            <p>Экспозиция</p>
          </div>

          <div class="main-slider__item-text">
            <h2><a href="#">Музей входит в тройку крупнейших музеев России: его коллекция насчитывает более 1.300.000
                единиц хранения</a>
            </h2>
          </div>

        </div>
      </article>
    </li>
    <li class="main-slider__item">
      <article class="main-slider__article">

        <picture>
          <source media="(min-width: 1440px)" data-src="/img/main-slider/slide-3-desktop.jpg"
            srcset="/img/main-slider/slide-3-desktop.jpg">
          <source media="(min-width: 768px)" data-src="/img/main-slider/slide-3-tablet.jpg"
            srcset="/img/main-slider/slide-3-tablet.jpg">
          <img class="lozad" data-src="/img/main-slider/slide-3-mobile.jpg" src="/img/main-slider/slide-3-mobile.jpg"
            alt="Фотография к новости" loading="lazy">
        </picture>

        <div class="main-slider__item-description">

          <div class="main-slider__item-text">
            <h2>Единственный в стране Музей, представляющий новейший период российской истории
            </h2>
          </div>

        </div>
      </article>
    </li>
    <li class="main-slider__item">
      <article class="main-slider__article">

        <picture>
          <source media="(min-width: 1440px)" data-src="/img/main-slider/slide-4-desktop.jpg"
            srcset="/img/main-slider/slide-4-desktop.jpg">
          <source media="(min-width: 768px)" data-src="/img/main-slider/slide-4-tablet.jpg"
            srcset="/img/main-slider/slide-4-tablet.jpg">
          <img class="lozad" data-src="/img/main-slider/slide-4-mobile.jpg" src="/img/main-slider/slide-4-mobile.jpg"
            alt="Фотография к новости" loading="lazy">
        </picture>

        <div class="main-slider__item-description">

          <div class="main-slider__item-text">
            <h2>Ежегодно Музей организует около 80 выставок, где подлинные предметы и документы сочетаются с
              современными мультимедийными технологиями.
            </h2>
          </div>

        </div>
      </article>
    </li>
  </ul>
  <div class="main-slider__controls">
    <button type="button" class="main-slider__prev"><span class="visually-hidden">Вперед</span></button>
    <div class="main-slider__dots"></div>
    <button type="button" class="main-slider__next"><span class="visually-hidden">Назад</span></button>
  </div>
</section>
