<nav class="main-nav">
  <button class="main-nav__toggle" type="button"><span class="visually-hidden">Меню</span></button>
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="#">Посетителям</a>
      <ul class="main-nav__sublist">
        <li><a href="#">Экскурсии</a></li>
        <li><a href="#">Лекции и музейные занятия</a></li>
        <li><a href="#">Образовательные проекты</a></li>
        <li><a href="#">Билеты и расписание</a></li>
      </ul>
    </li>
    <li class="main-nav__item">
      <a href="#">Выставка</a>
      <ul class="main-nav__sublist">
        <li><a href="#">Экскурсии</a></li>
        <li><a href="#">Лекции и музейные занятия</a></li>
        <li><a href="#">Образовательные проекты</a></li>
        <li><a href="#">Билеты и расписание</a></li>
      </ul>
    </li>
    <li class="main-nav__item"><a href="#">События</a></li>
    <li class="main-nav__item"><a href="#">Образование</a></li>
    <li class="main-nav__item">
      <a href="#">Музей</a>
      <ul class="main-nav__sublist">
        <li><a href="#">Экскурсии</a></li>
        <li><a href="#">Лекции и музейные занятия</a></li>
        <li><a href="#">Образовательные проекты</a></li>
        <li><a href="#">Билеты и расписание</a></li>
      </ul>
    </li>
    <li class="main-nav__item"><a href="#">Партнеры</a></li>
    <li class="main-nav__item"><a href="#">Магазин</a></li>
    <li class="main-nav__item"><a href="#"><img src="/img/glasses.svg" alt="Иконка версии для слабовидящих"><span
          class="visually-hidden">Версия для слабовидящих</span></a></li>
  </ul>
</nav>
