<li class="social__item">
  <a href="#" class="social__link">
    <span class="visually-hidden">Страница в ВК</span>
    <svg class="icon" width="44" height="44" viewBox="0 0 44 44">
      <use xlink:href="/img/sprite_auto.svg#vk" x="0" y="0" />
    </svg>
  </a>
</li>
<li class="social__item">
  <a href="#" class="social__link">
    <span class="visually-hidden">Страница в Facebook</span>
    <svg class="icon" width="44" height="44" viewBox="0 0 44 44">
      <use xlink:href="/img/sprite_auto.svg#facebook" x="0" y="0" />
    </svg>
  </a>
</li>
<li class="social__item">
  <a href="#" class="social__link">
    <span class="visually-hidden">Страница в одноклассниках</span>
    <svg class="icon" width="44" height="44" viewBox="0 0 44 44">
      <use xlink:href="/img/sprite_auto.svg#ok" x="0" y="0" />
    </svg>
  </a>
</li>
<li class="social__item">
  <a href="#" class="social__link">
    <span class="visually-hidden">Канал в Телеграм</span>
    <svg class="icon" width="44" height="44" viewBox="0 0 44 44">
      <use xlink:href="/img/sprite_auto.svg#telegram" x="0" y="0" />
    </svg>
  </a>
</li>
<li class="social__item">
  <a href="#" class="social__link">
    <span class="visually-hidden">Страница в Инстаграм</span>
    <svg class="icon" width="44" height="44" viewBox="0 0 44 44">
      <use xlink:href="/img/sprite_auto.svg#instagramm" x="0" y="0" />
    </svg>
  </a>
</li>
<li class="social__item">
  <a href="#" class="social__link">
    <span class="visually-hidden">Канал на youtube</span>
    <svg class="icon" width="44" height="44" viewBox="0 0 44 44">
      <use xlink:href="/img/sprite_auto.svg#yt" x="0" y="0" />
    </svg>
  </a>
</li>
