<section class="special">
  <div class="special__main" style="background-image: url('/img/special/spec-proj-1.jpg');">
    <article class="special__main-article">
      <div class="special__main-picture">
        <img src="/img/special/special-proj-pic.jpg" alt="Описание картинки">
      </div>
      <div class="special__main-text">
        <h2>Портал «История для всех. XX век»</h2>
        <p>Пять ключевых тем с важнейшими эпизодами отечественной истории ХХ столетия</p>
        <a href="#">Спецпроект</a>
      </div>
    </article>
  </div>

  <ul class="special__list">
    <li class="special__list-item">
      <a href="#">
        <div class="special__item-picture">
          <img src="/img/special/proj-1.jpg" alt="Описание картинки">
        </div>
        <div class="special__item-text">
          <p>Виртуальный музей</p>
        </div>
      </a>
    </li>
    <li class="special__list-item">
      <a href="#">
        <div class="special__item-picture">
          <img src="/img/special/proj-2.jpg" alt="Описание картинки">
        </div>
        <div class="special__item-text">
          <p>Сайт «Музей и война»</p>
        </div>
      </a>
    </li>
    <li class="special__list-item">
      <a href="#">
        <div class="special__item-picture">
          <img src="/img/special/proj-3.jpg" alt="Описание картинки">
        </div>
        <div class="special__item-text">
          <p>Музей онлайн</p>
        </div>
      </a>
    </li>
    <li class="special__list-item">
      <a href="#">
        <div class="special__item-picture">
          <img src="/img/special/proj-4.jpg" alt="Описание картинки">
        </div>
        <div class="special__item-text">
          <p>Московское долголетие</p>
        </div>
      </a>
    </li>
    <li class="special__list-item">
      <a href="#">
        <div class="special__item-picture">
          <img src="/img/special/proj-5.jpg" alt="Описание картинки">
        </div>
        <div class="special__item-text">
          <p>«Нюрнбергский набат. Без срока давности» — виртуальный тур</p>
        </div>
      </a>
    </li>
    <li class="special__list-item">
      <a href="#">
        <div class="special__item-picture">
          <img src="/img/special/proj-6.jpg" alt="Описание картинки">
        </div>
        <div class="special__item-text">
          <p>Круглый стол «Освобождение Центральной и Восточной Европы от нацизма»</p>
        </div>
      </a>
    </li>
  </ul>

  <div class="special__main" style="background-image: url('/img/special/spec-proj-2.jpg');">
    <article class="special__main-article">
      <div class="special__main-picture">
        <img src="/img/special/special-proj-pic.jpg" alt="Описание картинки">
      </div>
      <div class="special__main-text">
        <h2>Портал «История для всех. XX век»</h2>
        <p>Пять ключевых тем с важнейшими эпизодами отечественной истории ХХ столетия</p>
        <a href="#">Спецпроект</a>
      </div>
    </article>
  </div>
</section>
