<section class="table">
  <div class="table__wrapper">
    <h2 class="table__title">Табличное отображение</h2>

    <table>
      <tr>
        <th>Экскурсия</th>
        <th>Адрес объекта</th>
        <th>Дата экскурсии</th>
      </tr>

      <tr>
        <td>
          <b>Экскурсия</b>
          <p>Черноземье и земледелие в условиях зараженности радиацией</p>
          <p><a href="#">Подробнее</a></p>
        </td>
        <td>
          <b>Адрес объекта</b>
          <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
        </td>
        <td>
          <b>Дата экскурсии</b>
          <p>16 сентября, 15:30</p>
        </td>
      </tr>

      <tr>
        <td>
          <b>Экскурсия</b>
          <p>Черноземье и земледелие в условиях зараженности радиацией</p>
          <p><a href="#">Подробнее</a></p>
        </td>
        <td>
          <b>Адрес объекта</b>
          <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
        </td>
        <td>
          <b>Дата экскурсии</b>
          <p>16 сентября, 15:30</p>
        </td>
      </tr>

      <tr>
        <td>
          <b>Экскурсия</b>
          <p>Черноземье и земледелие в условиях зараженности радиацией</p>
          <p><a href="#">Подробнее</a></p>
        </td>
        <td>
          <b>Адрес объекта</b>
          <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
        </td>
        <td>
          <b>Дата экскурсии</b>
          <p>16 сентября, 15:30</p>
        </td>
      </tr>

      <tr>
        <td>
          <b>Экскурсия</b>
          <p>Черноземье и земледелие в условиях зараженности радиацией</p>
          <p><a href="#">Подробнее</a></p>
        </td>
        <td>
          <b>Адрес объекта</b>
          <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
        </td>
        <td>
          <b>Дата экскурсии</b>
          <p>16 сентября, 15:30</p>
        </td>
      </tr>
    </table>
  </div>
</section>
