.filter {
  margin-bottom: 35px;
}

.filter__wrapper {
  @include wrapper;
}

.filter__custom-select {
  .select2-container {
    display: flex;
    width: 100% !important;
    background-color: $s-color;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;

    .selection {
      width: 100%;
    }

    .select2-search__field::placeholder {
      color: #cecfd0;
    }
    .select2-search__field:-ms-input-placeholder {
      color: #cecfd0;
    }
    .select2-search__field::-ms-input-placeholder {
      color: #cecfd0;
    }
  }

  .select2-container--default .select2-selection--multiple {
    border-radius: 3px;
    border: none;
    min-height: 1px;
    position: relative;
    padding: 10px 25px 6px 20px;
    cursor: pointer;
    background-color: $s-color;
    color: #fff;

    &::after {
      content: "";
      position: absolute;
      top: 18px;
      right: 10px;
      display: block;
      width: 8px;
      height: 4px;
      background-image: url("../img/icons/select-arrow-white.svg");
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }

  .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    height: 100%;
    text-align: left;
  }

  .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    float: none;
    background-color: transparent;
    color: #fff;
    border: none;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    &::after {
      content: ",";
    }

    &:last-of-type {
      &:after {
        display: none;
        content: "";
      }
    }
  }
  .select2-container .select2-search--inline,
  .select2-container--default[dir="rtl"]
    .select2-selection--single
    .select2-selection__clear {
    float: none;
  }

  .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    display: none;
  }
}

.filter__buttons {
  display: none;

  &--visible {
    display: flex;
    flex-wrap: wrap;
  }
}

.filter__button {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 10px 16px;
  border: none;
  background: #f3f3f3;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;

  text-align: center;

  color: #000000;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:active,
  &:focus {
    outline: none;
    color: #ac103f;
  }

  &--active {
    background-color: $s-color;
    color: #fff;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 8px;
      height: 8px;
      background-image: url("../img/icons/cross.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    &:hover {
      background-color: $s-color;
      color: #fff;
    }
    &:active,
    &:focus {
      outline: none;
      background-color: $s-color;
      color: #fff;
    }
  }
}

a.filter__button {
  text-decoration: none;

  &--active {
    &::after {
      display: none;
    }
  }
}

.filter__title {
  display: none;
}

.filter__block {
  margin-bottom: 7px;
}

.filter__range {
  width: 330px;
  padding-top: 45px;

  &.noUi-target {
    background: #fff;
    box-shadow: none;
    border: none;
  }

  .noUi-pips-horizontal {
    top: 0;
  }

  .noUi-pips {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }

  .noUi-value {
    &:last-child {
      &::after {
        content: "+";
      }
    }
  }

  .noUi-marker-horizontal.noUi-marker-large {
    display: none;
  }

  .noUi-base,
  .noUi-connects {
    height: 5px;
  }

  &.noUi-horizontal {
    height: 5px;

    .noUi-handle {
      right: -8px;
      top: 50%;
      margin-top: -6px;
      width: 15px;
      height: 15px;
      background: #cfc8b7;
      border: 2px solid #c8134a;
      border-radius: 50%;
      outline: none;
      cursor: pointer;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .noUi-connects {
    background: #cfc8b7;
    border-radius: 2.5px;
  }

  .noUi-connect {
    background-color: $s-color;
  }
}

.filter__link {
  display: none;
  text-decoration-line: underline;

  color: #b69953;
  align-self: center;

  &--tablet {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (min-width: $tablet) {
  .filter__custom-select {
    display: none;
  }

  .filter {
    margin-bottom: 40px;
  }

  .filter__block {
    margin-bottom: 12px;
  }

  .filter__title {
    display: block;
    margin: 0;
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;

    color: #292929;
  }

  .filter__buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .filter__link {
    display: flex;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
    align-self: center;

    &--tablet {
      display: none;
    }
  }
}
