.lang {
  position: relative;
  margin-right: 13px;
  font-size: 11.4961px;
  line-height: 14px;
  font-weight: 700;
  color: $s-color;
}

.lang__btn {
  width: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("../img/icons/lang-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  color: inherit;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

.lang__list {
  display: none;

  &--opened {
    @include list-reset;
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgba(#201d18, 0.9);

    a {
      text-decoration: none;
      line-height: 2;
    }
  }
}

@media screen and (min-width: $tablet) {
  .lang {
    order: 3;
  }
}

@media screen and (min-width: $desktop) {
  .lang {
    margin-right: 0;
  }
}

@media screen and (max-width: 374px) {
  .lang {
    display: none;
  }
}
