.logo {
  width: 220px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;

  img {
    margin-right: 13px;
  }
}

.logo__text {
  width: 154px;
  margin-bottom: 8px;
  font-size: 9px;
  line-height: 1.22;
  color: #fff;
}

.logo__slogan {
  width: 100%;
  padding-left: 49px+13px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: italic;
}

@media screen and (min-width: $tablet) {
  .logo {
    width: 250px;

    &--fixed {
      .logo__slogan {
        display: none;
      }
    }
  }

  .logo__text {
    width: 160px;
    font-size: 8px;
    line-height: 10px;
  }
}

@media screen and (min-width: $desktop) {
  .logo {
    width: 265px;

    &--fixed {
      width: 310px;

      .logo__text {
        width: 220px;
      }
    }

    img {
      display: block;
      width: 61px;
      height: 26px;
      margin-right: 25px;
    }
  }

  .logo__text {
    width: 179px;
    margin-bottom: 13px;
    font-size: 11px;
    line-height: 13px;
  }

  .logo__slogan {
    padding-left: 0;
    font-size: 22px;
    line-height: 28px;
  }
}
