.main-slider {
  position: relative;
  // min-width: 320px;
  // max-width: 375px;
  width: 100%;
  min-height: 544px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: -88px;
  border-bottom: 11px solid $s-color;
  background-color: #333;
  .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }

  a {
    display: block;
    height: 100%;
  }

  * {
    outline: none;
  }

  .slick-dots li.slick-active button:before {
    color: $s-color;
    opacity: 1;
  }

  .slick-dots li button:before {
    font-size: 16px;
    color: #fff;
    opacity: 1;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}
.main-slider__list {
  @include list-reset;

  .slick-active img {
    transform: scale(1);
  }
}

.main-slider__item {
  //height: 100%;
  height: 544px !important;
  position: relative;
  z-index: 1;

  img {
    // width: 100%;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.2);
  }
}

.main-slider__article {
  position: relative;
  min-height: 545px;
  margin-bottom: -5px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  // @media (max-width: 374px) {
  //   width: 320px;
  // }
}

.main-slider__video {
  // display: none;
  position: relative;
  height: 544px;
  overflow: hidden;

  video {
    position: absolute;
    /* override other styles to make responsive */
    // width: 100% !important;
    // height: auto !important;
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  // @media (max-width: 374px) {
  //   max-width: 320px;
  //   video {
  //     max-width: 320px;
  //     height: auto;
  //   }
  // }
}

.main-slider__item-description {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  padding: 0 10px;
  width: 320px;
  @media (max-width: 374px) {
    width: 280px;
    left: 20px;
    transform: translateX(0);
  }
}

.main-slider__item-text {
  h2 {
    margin: 0;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 25px;

    color: #ffffff;
    font-weight: 700;

    a {
      color: inherit;
      text-decoration: none;
      // border-bottom: 2px solid #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #ffffff;
  }
}

.main-slider__item-type {
  margin-bottom: 26px;

  p {
    margin: 0;
    font-size: 12px;
    line-height: 15px;

    color: #ffffff;
  }
}

.main-slider__item-place {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #ffffff;
  }

  &::before {
    content: url("../img/icons/map-pin.svg");
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.main-slider__controls {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .slick-dots {
    position: static;
    bottom: 0;
    display: flex;

    li {
      width: 10px;
      height: 10px;
      margin: 0 4px;

      button {
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;

        &::before {
          width: 10px;
          height: 10px;
          line-height: 10px;
          font-size: 5px;
          olor: #fff;
          opacity: 1;
        }
      }
    }
  }

  .slick-arrow {
    padding: 0;
    font-size: 0;
    width: 7px;
    height: 12px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.main-slider__dots {
  margin: 0 5px;
}

.main-slider__next {
  background-image: url("../img/icons/next-arrow.svg");
}

.main-slider__prev {
  background-image: url("../img/icons/prev-arrow.svg");
}

@media screen and (min-width: $tablet) {
  .main-slider {
    min-width: 768px;
    max-width: 768px;
    min-height: 790px;
    margin-top: 133px !important 0;
  }

  .main-slider__article {
    min-height: 790px;

    &--video {
      img {
        display: none !important;
      }

      .main-slider__video {
        display: block;
      }
    }
  }

  .main-slider__item {
    height: 790px !important;
  }

  .main-slider__item-description {
    position: absolute;
    left: 50%;
    top: 36%;
    padding: 0;
    width: 768px;
    margin: 0 auto;
    padding: 0 5.2%;
  }

  .main-slider__item-text {
    h2 {
      max-width: 650px;
      margin: 0;
      margin-bottom: 43px;
      font-size: 30px;
      line-height: 38px;
    }

    p {
      margin: 0;
      font-size: 15px;
      line-height: 19px;
    }
  }

  .main-slider__item-place {
    margin-top: 20px;
    p {
      font-size: 15px;
      line-height: 19px;
    }

    &::before {
      content: url("../img/icons/map-pin.svg");
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }

  .main-slider__controls {
    bottom: 40px;
  }

  .main-slider__item-type {
    margin-bottom: 33px;
    p {
      font-size: 20px;
      line-height: 25px;
    }
  }

  .main-slider {
    .slick-dots li button:before {
      font-size: 11px;
    }
    .slick-dots li {
      margin: 0 4px;
    }
    .slick-arrow {
      width: 10px;
      height: 18px;
      cursor: pointer;
    }
  }

  .main-slider__dots {
    margin: 0 22px;
  }

  .main-slider__video {
    height: 790px;
  }
}

@media screen and (min-width: $desktop) {
  .main-slider {
    // border-bottom-width: 9px;
    border-bottom: none;
    // min-width: 1440px;
    // // max-width: 1440px;
    // max-width: 1920px;
    background-color: #f3f3f3;
    width: 100%;
    max-width: 100%;
  }

  .main-slider__list {
    min-width: 1440px;
    // max-width: 1440px;
    max-width: 1920px;
    margin: 0 auto;
    border-bottom: 11px solid $s-color;

    // .slick-track {
    //   display: flex !important;
    // }

    // .slick-slide {
    //   height: inherit !important;
    // }
  }

  .main-slider__item {
    min-height: 800px;
    height: 800px;
  }

  .main-slider__article {
    height: 100%;
    position: relative;
    min-height: 800px;

    img {
      display: block;
      // width: 100%;
      height: 100%;
      margin: 0 auto;
      // object-fit: cover;
    }

    // &--bg-img {
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: -5px;
    //     right: 0;
    //     display: block;
    //     width: 830px;
    //     height: 296px;
    //     background-image: url("../img/main-slider-image-optional.svg");
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //   }
    // }
  }

  .main-slider__item-description {
    position: absolute;
    left: 50%;
    //top: 420px;
    top: auto;
    bottom: 50px;
    padding: 0;
    width: 1440px;
    padding: 0 130px;
  }
  .main-slider__item-type {
    margin-bottom: 25px;
  }

  .main-slider__item-text {
    h2 {
      max-width: 80%;
      margin: 0;
      margin-bottom: 30px;
      font-size: 40px;
      line-height: 50px;
    }

    p {
      margin: 0;
      font-size: 15px;
      line-height: 19px;
    }
  }

  .main-slider__controls {
    bottom: 55px;
    width: 1440px;
    padding: 0 130px;
    justify-content: flex-end;
  }

  .main-slider {
    .slick-dots li {
      width: 20px;
      height: 20px;
    }
    .slick-dots li button:before {
      font-size: 10px;
      line-height: 20px;
    }
    .slick-arrow {
      width: 14px;
      height: 25px;
    }
  }

  .main-slider__video {
    height: 800px;
  }
}
