.social {
  &--in-form {
    display: none;
  }

  &--show {
    display: none;
  }

  &--header {
    @include list-reset;

    .social__list {
      min-width: 320px;
      max-width: 375px;
      margin: 0 auto;
      padding: 42px 0 28px;
      justify-content: flex-start;

      .social__item {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &--in-tabs {
    display: none;
  }
}
.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 57px;

  &--in-buildings {
    width: 100%;
    padding: 10px 20px 0;
    justify-content: center;
    background-color: #f3f3f3;

    .social__link {
      width: 24px;
      height: 24px;
      margin: 0 8px;
    }
  }

  &--in-text {
    width: 100%;
    justify-content: flex-start;

    .social__item {
      margin-right: 13px;
    }
  }
}
.social__item {
  margin-bottom: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  color: #cfc8b7;
  transition: all 0.2s linear;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: $s-color;
    transform: scale(1.1);
  }

  &:active {
    color: $link-color--hover;
  }
}

.social__title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;

  color: #000000;
}

@media screen and (min-width: $tablet) {
  .social {
    &--footer {
      display: none;
      width: 100%;
      padding-right: 20px;
      margin-bottom: -100px;
      position: relative;

      .social__list {
        width: 100%;
        justify-content: flex-end;
      }

      .social__item {
        margin-left: 19px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
    &--in-form {
      display: flex;

      .social__list {
        display: flex;
        width: auto;
      }

      .social__item {
        margin-left: 20px;
      }

      .social__link {
        display: flex;
        width: 27px;
        height: 27px;
      }
    }

    &--in-buildings {
      //padding-left: 22px;
      //padding-top: 55px;

      .social__link {
        width: 24px;
        height: 24px;
        margin: 0 8px;
      }
    }

    &--header {
      display: none;
    }
  }
}

@media screen and (min-width: $desktop) {
  .social {
    &--in-buildings {
      //padding-left: 22px;
      padding-top: 55px;
    }

    &--show {
      display: flex;
      order: 2;
      width: 11%;
    }

    &--hidden {
      display: none;
    }

    &--in-tabs {
      display: block;
      width: 11%;
    }
  }

  .social__list {
    &--in-buildings {
      padding: 0;
      padding-left: 23px;
      justify-content: start;
      background-color: #fff;

      .social__item {
        margin: 0;
        margin-right: 17px;
        margin-bottom: 14px;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      .social__link {
        margin: 0;
      }
    }

    &--in-tabs {
      justify-content: flex-end;
      width: 100%;

      .social__item {
        width: 23px;
        height: 23px;
        margin-left: 16px;
        margin-bottom: 14px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .social {
    &--footer {
      margin-left: 50%;
      //margin-right: 95px;
      margin-top: -100px;
    }
  }
}
