.subscribe {
  margin-bottom: 22px;
  padding: 20px 24px 37px;
  background: #2c2c2c;
  background-image: url("../img/subscribe-pettern.jpg");
  background-repeat: repeat;
  background-size: auto;
  color: #bbb5a6;

  &--footer {
    margin-top: 18px;
    margin-bottom: 18px;
    padding-left: 20px;
    padding-right: 35px;
    padding-bottom: 20px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #3a3936;
    border-radius: 3px;

    .subscribe__title {
      font-size: 14px;
      line-height: 135.2%;
    }

    .subscribe__form {
      padding-top: 37px;
    }

    .subscribe__field {
      margin-bottom: 20px;
      label {
        font-size: 9px;
        line-height: 12px;

        a {
          display: inline;
        }

        &::before {
          width: 12px;
          height: 12px;
        }
      }

      input:checked + label {
        &::after {
          top: 6px;
          left: 3px;
          width: 6px;
          height: 6px;
        }
      }
    }

    .subscribe__btn {
      align-self: flex-start;
      margin-bottom: 0;
      padding: 8px 5px 10px;
    }
  }

  &--in-form {
    display: none;
  }
}

.subscribe__title {
  margin: 0;
  max-width: 230px;
  font-size: 16px;
  line-height: 22px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.subscribe__input-field {
  margin-bottom: 4px;
  padding: 13px 5px 11px;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;
  color: $s-color;
  font-family: $base-font;
  border: none;
  border-radius: 3px;

  &::placeholder {
    color: $s-color;
  }

  &:focus {
    outline: none;
  }

  &--dark {
    margin-bottom: 8px;
    padding-left: 20px;
    background-color: #31302f;
    color: #cfc8b7 !important;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.02em;
    text-align: left;

    &::placeholder {
      color: #cfc8b7;
    }
  }
}

.subscribe__input-textarea {
  height: 79px;
  margin-bottom: 12px;
  background-color: #31302f;
  padding: 8px 20px 11px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.02em;
  font-family: inherit;
  color: #cfc8b7 !important;
  border: none;
  resize: none;

  &::placeholder {
    color: #cfc8b7;
  }
}

.subscribe__btn {
  margin-bottom: 15px;
  padding: 11px 5px 15px;
  background: $s-color;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;

  text-align: center;
  letter-spacing: 0.02em;
}

.subscribe__field label {
  position: relative;
  display: block;
  padding-left: 24px;
  font-size: 12px;
  line-height: 17px;

  a {
    display: inline-block;
    color: inherit;
    text-decoration: underline;
  }

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid #bbb5a6;
    border-radius: 3px;
  }
}

.subscribe__field input:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 4px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $s-color;
  }
}

.subscribe__success-popup {
  opacity: 0;
  width: 100%;
  transition: opacity 0.5s ease-in-out;

  &--open {
    opacity: 1;
    padding-top: 10px;
    color: #bbb5a6;
    font-size: 14px;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}

@media screen and (min-width: $tablet) {
  .subscribe {
    // width: 49%;
    margin-bottom: 21px;

    &--footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-top: 0;
      margin-bottom: 35px;
      padding-top: 25px;
      padding-right: 20px;
      padding-bottom: 25px;

      .subscribe__title {
        max-width: 227px;
        font-size: 16.1171px;
        line-height: 135.2%;
        /* or 22px */
      }

      .subscribe__form {
        width: 100%;
        padding-top: 20px;
        padding-right: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
          "input1 textarea textarea"
          "input2 textarea textarea"
          "text text btn";
        grid-gap: 10px;
        align-items: stretch;
      }

      .subscribe__input-field {
        &--dark {
          width: 237px;
          margin: 0;
          padding-top: 8px;
          font-size: 12.0878px;
          line-height: 15px;
          /* identical to box height */

          letter-spacing: 0.02em;
          &:nth-child(1) {
            grid-area: input1;
          }
        }
        &:nth-child(2) {
          grid-area: input2;
        }
      }

      .subscribe__input-textarea {
        grid-area: textarea;
        //width: 398px;
        height: 100%;
        font-size: 12.0878px;
        line-height: 15px;

        &::placeholder {
          width: 200px;
        }
      }

      .subscribe__field {
        grid-area: text;

        label {
          padding-top: 3px;
          font-size: 10.0732px;
          line-height: 135.2%;
        }
      }

      .subscribe__btn {
        width: 188px;
        margin-left: auto;
        grid-area: btn;
      }
    }
  }

  .subscribe__form {
    padding-top: 25px;
  }
}

@media screen and (min-width: $desktop) {
  .subscribe {
    // width: 32.4%;
    width: 100%;
    // margin-left: 1.4%;
    // margin-bottom: 13px;
    margin-bottom: 0;

    &--footer {
      width: 58%;
      margin: 0;
      margin-bottom: 40px;
      padding-top: 23px;
      padding-right: 23px;
      padding-bottom: 20px;

      .subscribe__form {
        padding-right: 0;
      }

      .subscribe__input-field {
        &--dark {
          width: 232px;
          padding-left: 18px;
          padding-top: 6px;
          font-size: 12px;
          line-height: 15px;
        }
      }

      .subscribe__input-textarea {
        padding-top: 6px;
      }

      .subscribe__field {
        margin-bottom: 0;
        padding-top: 5px;
        label {
          margin-bottom: 5px;
        }
      }
    }
  }
}
