---
title: Анонсы
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}

<section class="exhibitions">
  <div class="exhibitions__wrapper">

    <section class="filter">
      <div class="filter__block">
        <h2 class="filter__title">Музеи:</h2>

        <div class="filter__custom-select">
          <select class="js-example-basic-multiple" name="buildings[]" multiple="multiple">
            <option value="all">Все музеи</option>
            <option value="1">Музей современной истории России</option>
            <option value="2">Пресня</option>
            <option value="3">Подпольная типография 1905-1906 гг.</option>
            <option value="3">Квартира Г.М. Кржижановского</option>
            <option value="3">Музей-галерея Е. Евтушенко</option>
            <option value="3">Мемориальный комплекс «Катынь»</option>
            <option value="3">Мемориальный комплекс «Медное»</option>
          </select>
        </div>

        <div class="filter__buttons">
          <button class="filter__button" type="button" value="1">Музей современной истории России</button>
          <button class="filter__button" type="button" value="2">Пресня</button>
          <button class="filter__button" type="button" value="3">Подпольная типография 1905-1906 гг.</button>
          <button class="filter__button" type="button" value="3">Квартира Г.М. Кржижановского</button>
          <button class="filter__button" type="button" value="3">Музей-галерея Е. Евтушенко</button>
          <button class="filter__button" type="button" value="3">Мемориальный комплекс «Катынь»</button>
          <button class="filter__button" type="button" value="3">Мемориальный комплекс «Медное»</button>
        </div>
      </div>

      <div class="filter__block">
        <h2 class="filter__title">Темы</h2>

        <div class="filter__buttons">
          <button class="filter__button" type="button" value="1">Тематика про конституцию</button>
          <button class="filter__button" type="button" value="2">Военная тематика</button>
          <button class="filter__button" type="button" value="3">Революция</button>
          <button class="filter__button" type="button" value="3">типография</button>
          <button class="filter__button" type="button" value="3">Эксперты о войне</button>
        </div>
      </div>

      <div class="filter__block">
        <h2 class="filter__title">Года</h2>

        <div class="filter__buttons">
          <button class="filter__button" type="button" value="1">2020</button>
          <button class="filter__button" type="button" value="2">2021</button>
          <button class="filter__button" type="button" value="3">2022</button>
        </div>
      </div>

    </section>

    <ul class="exhibitions__list">
      <li class="exhibitions__item">
        <article class="exhibitions__article">
          <div class="exhibitions__picture">
            <a href="#">
              <picture>
                <source media="(min-width: 768px)" data-src="/img/exhibitions/anons-desktop.jpg"
                  srcset="/img/exhibitions/anons-desktop.jpg">
                <img class="lozad" data-src="/img/exhibitions/anons-mobile.jpg" src="/img/exhibitions/anons-mobile.jpg"
                  alt="Фотография к новости" loading="lazy">
              </picture>
            </a>
          </div>

          <div class="exhibitions__text">
            <a href="">
              <time class="exhibitions__date" datetime="2020-02-13 14:30">20 февраля 2020 - 30 апреля 2020</time>
              <h2>Иные Миры</h2>
              <p>С 20 сентября 2019 года до 19 января 2020 года пройдет выставка Никаса Сафронова «Иные миры». Работы
                художника будут представлены в главном здании Музея современной истории России как в традиционном
                исполнении — на холстах, так и с помощью современных мультимедийных технологий.</p>
              <p>Мультимедийные проекции на стены перенесут зрителей в мир художника Никаса Сафронова. Бесшовная
                проекция
                позволит создать иллюзию изменения пространства не только в виде цифрового декора, но и в качестве
                «самостоятельного рассказчика». </p>
            </a>

            <div class="exhibitions__price">
              <a href="#" class="btn">Поддержать выставку</a>
            </div>
          </div>

          <div class="exhibitions__info">
            <div class="exhibitions__place"><a href="#">Музей современной истории России</a></div>
            <div class="exhibitions__address">Тверская 21</div>
            <div class="exhibitions__time"><a href="#">Региональная выставка</a></div>
            <div class="exhibitions__building">
              <img src="/img/buildings/building-1.svg" alt="Иконка здания" width="66" height="25">
            </div>
          </div>
        </article>
      </li>
      <li class="exhibitions__item">
        <article class="exhibitions__article">
          <div class="exhibitions__picture">
            <a href="#">
              <picture>
                <source media="(min-width: 768px)" data-src="/img/exhibitions/anons-desktop.jpg"
                  srcset="/img/exhibitions/anons-desktop.jpg">
                <img class="lozad" data-src="/img/exhibitions/anons-mobile.jpg" src="/img/exhibitions/anons-mobile.jpg"
                  alt="Фотография к новости" loading="lazy">
              </picture>
            </a>
          </div>

          <div class="exhibitions__text">
            <a href="#">
              <time class="exhibitions__date" datetime="2020-02-13 14:30">20 февраля 2020 - 30 апреля 2020</time>
              <h2>Длинный заголовок для второй статьи</h2>
              <p>С 20 сентября 2019 года до 19 января 2020 года пройдет выставка Никаса Сафронова «Иные миры». Работы
                художника будут представлены в главном здании Музея современной истории России как в традиционном
                исполнении — на холстах, так и с помощью современных мультимедийных технологий.</p>
              <p>Мультимедийные проекции на стены перенесут зрителей в мир художника Никаса Сафронова. Бесшовная
                проекция
                позволит создать иллюзию изменения пространства не только в виде цифрового декора, но и в качестве
                «самостоятельного рассказчика». </p>
              <p>Мультимедийные проекции на стены перенесут зрителей в мир художника Никаса Сафронова. Бесшовная
                проекция
                позволит создать иллюзию изменения пространства не только в виде цифрового декора, но и в качестве
                «самостоятельного рассказчика». </p>
            </a>

            <div class="exhibitions__price">
              <a href="#" class="btn">Поддержать выставку</a>
            </div>
          </div>

          <div class="exhibitions__info">
            <div class="exhibitions__place"><a href="#">Музей современной истории России</a></div>
            <div class="exhibitions__address">Тверская 21</div>
            <div class="exhibitions__time">с 11.00 до 19.00</div>
            <div class="exhibitions__building">
              <img src="/img/buildings/building-1.svg" alt="Иконка здания" width="66" height="25">
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>

<section class="sub-nav">
  <div class="sub-nav__wrapper">
    <ul class="sub-nav__list  sub-nav__list--wide">
      <li class="sub-nav__list-item"><a href="#">Анонсы</a></li>
      <li class="sub-nav__list-item"><a href="#">Региональные и зарубежные</a></li>
      <li class="sub-nav__list-item"><a href="#">Виртуальные</a></li>
      <li class="sub-nav__list-item"><a href="#">Архив</a></li>
    </ul>
  </div>
</section>

<section class="banners">
  <div class="banners__wrapper">
    <ul class="banners__list  banners__list--grid">
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
