---
title: Экскурсии
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}

<section class="excursions">
  <div class="excursions__wrapper">
    <h2 class="excursions__title">Контакты экскурсионного бюро</h2>
    <div class="excursions__contacts">
      <ul class="excursions__contacts-list">
        <li class="excursions__contacts-item  excursions__contacts-item--phone">
          <span>Телефон</span>
          <p><a href="tel:+74956918219">+7 (495) 691- 82-19</a></p>
        </li>
        <li class="excursions__contacts-item  excursions__contacts-item--email">
          <span>E-mail</span>
          <p><a href="mailto:excursion@orientmuseum.ru">excursion@orientmuseum.ru</a></p>
        </li>
        <li class="excursions__contacts-text">
          <p>Позвонив в экскурсионное бюро музея обязательно сообщите возраст и состав группы, для правильной
            организации
            экскурсии и выбора темы. Вы можете заказать индивидуальную экскурсию (от 1 до 5 посетителей) или экскурсию
            для
            группы до 15 человек.</p>
        </li>
        <li class="excursions__contacts-item  excursions__contacts-item--hours">
          <span>Режим работы</span>
          <p>Вт-Сб <br>11:00-16:00</p>
        </li>
      </ul>
    </div>
  </div>

  <section class="excursions__prices  excursions__prices--gray">
    <div class="excursions__wrapper">
      <h2 class="excursions__title">Цены на экскурсионные путевки </h2>

      <a href="#" class="read-more-show hide">Подробнее</a>

      <div class="read-more-content">
        <section class="table  table--3-col">

          <h3>Тематические экскурсии</h3>
          <table>
            <tr>
              <th>Категория посетителей</th>
              <th>Колличество участников</th>
              <th>Цена</th>
            </tr>

            <tr>
              <td>
                <!-- <strong>Категория посетителей</strong> -->
                <p>Дети до 7 лет</p>
              </td>
              <td>
                <!-- <strong>Колличество участников</strong> -->
                <p>Группа до 15 человек:
                  13 детей + 2 сопровождающих взрослых</p>
              </td>
              <td>
                <strong>Цена</strong>
                <p>1000 ₽</p>
              </td>
            </tr>

            <tr>
              <td>
                <!-- <strong>Категория посетителей</strong> -->
                <p>Учащиеся 1-11 классов</p>
              </td>
              <td>
                <!-- <strong>Категория посетителей</strong> -->
                <p>Группа до 15 человек: <br>
                  13 детей + 2 сопровождающих взрослых</p>
              </td>
              <td>
                <!-- <strong>Цена</strong> -->
                <p>1000 ₽</p>
              </td>
            </tr>

            <tr>
              <td>
                <!-- <strong>Категория посетителей</strong> -->
                <p>Студенты высшего и профессионального образования очной формы обучения</p>
              </td>
              <td>
                <!-- <strong>Категория посетителей</strong> -->
                <p>Группа до 15 человек <br>
                  + 1 сопровождающих взрослых</p>
              </td>
              <td>
                <strong>Цена</strong>
                <p>1000 ₽</p>
              </td>
            </tr>

            <tr>
              <td>
                <!-- <strong>Категория посетителей</strong> -->
                <p>Граждане Российской Федераци</p>
              </td>
              <td>
                <!-- <strong>Колличество участников</strong> -->
                <p>Группа до 5 человек </p>
              </td>
              <td>
                <strong>Цена</strong>
                <p>1000 ₽</p>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <!-- <strong>Категория посетителей</strong> -->
                <p>Пенсионеры</p>
                <p>Лица, входящие в Общероссийскую общественно-государственную организацию «Российское
                  военно-историческое
                  общество»</p>
                <p>Студенты высшего и профессионального образования, осуществляющие обучение на очной форме по
                  специальностям: искусствоведение, культурология, музеология, музееведение, дизайн, востоковедение,
                  живопись, архитектура, реставрация</p>
              </td>
              <td>
                <strong>Цена</strong>
                <p>1500 ₽</p>
              </td>
            </tr>
          </table>

        </section>

        <section class="table  table--2-col">
          <h3>Обзорные экскурсии</h3>
          <table>
            <tr>
              <th colspan="2">Категория посетителей</th>
            </tr>

            <tr>
              <td>
                <!-- <strong>Категория посетителей</strong> -->
                <p>Иностранные граждане (группа не более 15 человек)</p>
              </td>
              <td>
                <!-- <strong>Цена</strong> -->
                <p>1000 ₽</p>
              </td>
            </tr>

            <tr>
              <td>
                <!-- <strong>Категория посетителей</strong> -->
                <p>Пенсионеры</p>
              </td>
              <td>
                <!-- <strong>Цена</strong> -->
                <p>1000 ₽</p>
              </td>
            </tr>

            <tr>
              <td>
                <!-- <strong>Категория посетителей</strong> -->
                <p>Лица, входящие в Общероссийскую общественно-государственную организацию </p>
                <p>
                  «Российское военно-историческое общество»</p>
              </td>
              <td>
                <!-- <strong>Цена</strong> -->
                <p>1000 ₽</p>
              </td>
            </tr>

            <tr>
              <td>
                <!-- <strong>Категория посетителей</strong> -->
                <p>Студенты высшего и профессионального образования, осуществляющие обучение на очной форме по
                  специальностям: искусствоведение, культурология, музеология, музееведение, дизайн, востоковедение,
                  живопись, архитектура, реставрация</p>
              </td>
              <td>
                <!-- <strong>Цена</strong> -->
                <p>1000 ₽</p>
              </td>
            </tr>
          </table>

        </section>

        <a href="#" class="read-more-hide hide">Свернуть</a><a href="#" class="excursions__prices-btn  btn">Купить
          билет</a>
      </div>

      <a href="#" class="excursions__prices-btn  btn">Купить билет</a>

    </div>
  </section>

  <div class="excursions__wrapper">
    <h2 class="excursions__title">Выбор экскурсий</h2>

    <section class="filter">
      <div class="filter__block">
        <h2 class="filter__title">Музеи:</h2>

        <div class="filter__custom-select">
          <select class="js-example-basic-multiple" name="buildings[]" multiple="multiple"
            data-placeholder="Подпись для плейсхолдера">
            <option value="all">Все музеи</option>
            <option value="1">Музей современной истории России</option>
            <option value="2">Пресня</option>
            <option value="3">Подпольная типография 1905-1906 гг.</option>
            <option value="4">Квартира Г.М. Кржижановского</option>
            <option value="5">Музей-галерея Е. Евтушенко</option>
            <option value="6">Мемориальный комплекс «Катынь»</option>
            <option value="7">Мемориальный комплекс «Медное»</option>
          </select>
        </div>

        <div class="filter__buttons">
          <button class="filter__button" type="button" value="1">Музей современной истории России</button>
          <button class="filter__button" type="button" value="2">Пресня</button>
          <button class="filter__button" type="button" value="3">Подпольная типография 1905-1906 гг.</button>
          <button class="filter__button" type="button" value="4">Квартира Г.М. Кржижановского</button>
          <button class="filter__button" type="button" value="3">Музей-галерея Е. Евтушенко</button>
          <button class="filter__button" type="button" value="5">Мемориальный комплекс «Катынь»</button>
          <button class="filter__button" type="button" value="6">Мемориальный комплекс «Медное»</button>
        </div>
      </div>

      <div class="filter__block">
        <h2 class="filter__title">Категория</h2>

        <div class="filter__custom-select">
          <select class="js-example-basic-multiple" name="buildings[]" multiple="multiple"
            data-placeholder="Подпись для плейсхолдера">
            <option value="all">Все музеи</option>
            <option value="1">Младший школьный возраст</option>
            <option value="2">Средняя школа и старшие классы</option>
            <option value="3">Экскурсии для взрослых</option>
            <option value="4">Экскурсии к выставкам</option>
            <option value="5">Тематические экскурсии</option>
            <option value="6">Экскурсии по Московскому Английскому клубу</option>
            <option value="7">Экскурсии для иностранцев</option>
            <option value="8">Сборные экскурсии</option>
          </select>
        </div>

        <div class="filter__buttons">
          <button class="filter__button" type="button" value="1">Младший школьный возраст</button>
          <button class="filter__button" type="button" value="2">Средняя школа и старшие классы</button>
          <button class="filter__button" type="button" value="3">Экскурсии для взрослых</button>
          <button class="filter__button" type="button" value="4">Экскурсии к выставкам</button>
          <button class="filter__button" type="button" value="5">Тематические экскурсии</button>
          <button class="filter__button" type="button" value="6">Экскурсии по Московскому Английскому клубу</button>
          <button class="filter__button" type="button" value="7">Экскурсии для иностранцев</button>
          <button class="filter__button" type="button" value="8">Сборные экскурсии</button>
          <a href="#" class="filter__link">Инклюзивные экскурсии </a>
        </div>


      </div>

      <div class="filter__block">
        <h2 class="filter__title">Возраст:</h2>
        <div class="filter__range" id="filter-range"></div>
      </div>

    </section>

    <div class="excursions__list-header">
      <div class="excursions__header-info">Информация об экскурсии</div>
      <div class="excursions__header-filter">Фильтры</div>
    </div>

  </div>


  <ul class="excursions__list">
    {% for i in range(0, 3) -%}
    <li class="excursions__list-item">
      <div class="excursions__list-text">
        <h3>Сказки, мифы и легенды народов Востока</h3>

        <a href="#" class="read-more-show hide">Подробнее</a>

        <div class="read-more-content">
          <p>Экскурсия рассчитана на самых юных посетителей музея. Это увлекательное путешествие в сказочный мир
            Востока, знакомство с могущественными божествами и мифологическими героями. Именно через сказку дети
            смогут
            открыть для себя удивительную культуру Востока.</p>

          <div class="excursions__list-contacts">
            <span>Телефон для записи</span>
            <p>+7 (495) 691- 82-19</p>
          </div>

          <a href="#" class="read-more-hide hide">Свернуть</a>

          <a href="#" class="excursions__prices-btn  btn">Купить билет</a>
        </div>

        <a href="#" class="excursions__prices-btn  btn">Купить билет</a>

        <div class="gallery">
          <button class="gallery__btn" type="button">
            <svg class="
            icon" width="20" height="20" viewBox="0 0 20 20">
              <use xlink:href="/img/sprite_auto.svg#gallery" x="0" y="0" />
            </svg>
            Фотогалерея
          </button>

          <div class="lightgallery  hide">
            <a href="/img/text/popup/popup-desktop.jpg">
              <img src="/img/text/popup/popup-desktop.jpg" />
            </a>
            <a href="/img/text/popup/popup-desktop.jpg">
              <img src="/img/text/popup/popup-desktop.jpg" />
            </a>
          </div>
        </div>

      </div>
      <div class="excursions__list-filter">


        <div class="excursions__list-filter-cat">
          <span>Музей:</span>
        </div>
        <div class="excursions__list-filter-text">
          <p>Музей современной истории</p> <button class="excursions__list-filter-pin" type="button">
            <svg class="
            icon" width="30" height="30" viewBox="0 0 30 30">
              <use xlink:href="/img/sprite_auto.svg#map-pin-new" x="0" y="0" />
            </svg>
          </button>
          <div class="map-popup map-popup--hide">
            <button class="map-popup__close-btn" type="button">
              <span class="visually-hidden">Закрыть
                окно</span>
            </button>
            <script type="text/javascript" charset="utf-8" async
              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7993977c96197ca29c40984b4324fda4f20d687e548c92a5f6da5233110d323e&amp;width=100%25&amp;lang=ru_RU&amp;scroll=true">
            </script>
          </div>
        </div>

        <div class="excursions__list-filter-cat">
          <span>Категория:</span>
        </div>
        <div class="excursions__list-filter-text">
          <p>Младший школьный возраст</p>
        </div>

        <div class="excursions__list-filter-cat">
          <span>Возраст:</span>
        </div>
        <div class="excursions__list-filter-text">
          <p>От 5 лет</p>
        </div>
      </div>
    </li>
    {%- endfor %}
  </ul>


  <a href="#" class="filter__link  filter__link--tablet">Инклюзивные экскурсии </a>
</section>




{% endblock %}
