---
title: История музея
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}

<section class="history">
  <div class="history__wrapper">
    <ul class="history__list">
      <li class="history__item" data-aos="fade-up">
        <article class="history__text">
          <div class="history__year">1831 - 1917</div>
          <h3 class="history__title">Московский Английский клуб</h3>
          <div class="history__column  history__column--picture" data-aos="zoom-in" data-aos-duration="400">
            <a href="#">
              <img src="/img/history/1.jpg" alt="Описание для фотографии">
            </a>
          </div>
          <div class="history__column  history__column--text">
            <p>Московский Английский клуб, старейшее аристократическое собрание Москвы, был основан около 1770 г., в
              царствование Екатерины II, жившими в Москве иностранцами по образцу аристократических клубов Англии. К
              концу XVIII в. клуб объединял в первую очередь представителей московской знати. В 1797 г. он был закрыт
              императором Павлом I и вновь открыт только спустя 5 лет, после воцарения Александра I.</p>

            <p>За свою долгую историю клуб сменил несколько адресов, пока наконец 22 апреля 1831 г. ни переехал в
              перестроенный после окончания войны с Наполеоном особняк на Тверской улице. Здесь клуб просуществовал
              вплоть до 1917 г.</p>

            <a href="#">подробнее →</a>
          </div>
        </article>
      </li>
      <li class="history__item" data-aos="fade-up">
        <article class="history__text">
          <div class="history__year">1917 - 1924</div>
          <h3 class="history__title">Создание музея</h3>
          <div class="history__column  history__column--picture" data-aos="zoom-in" data-aos-duration="400">
            <div class="history__video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/fsseSpc80GA" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="history__column  history__column--text">
            <p>21 марта 1917 г. известный журналист и литературовед, директор музея Всероссийского Союза городов
              Владимир Кранихфельд предложил «безотлагательно созвать совещание из представителей исторической науки и
              существующих в Москве музеев с целью научной и практической разработки вопроса о создании в Москве Музея
              революции».</p>

            <p>Именно тогда были определены основные направления деятельности будущего Музея: собирать разноплановые
              источники для всестороннего изучения истории русского революционного движения. </p>
          </div>
        </article>
      </li>
      <li class="history__item" data-aos="fade-up">
        <article class="history__text">
          <div class="history__year">1920 - 1930</div>
          <h3 class="history__title">Формирование коллекции</h3>
          <div class="history__column  history__column--picture" data-aos="zoom-in" data-aos-duration="400">
            <a href="#">
              <img src="/img/history/3.jpg" alt="Описание для фотографии">
            </a>
          </div>
          <div class="history__column  history__column--text">
            <p>Придание музею статуса учреждения общесоюзного значения наложило на него соответствующие обязательства.
              На первом этапе деятельности главной задачей стал показ истории революционного движения в России, начиная
              с крестьянских восстаний XVII в. и до Октябрьской революции 1917 г.</p>

            <p>На музей возлагались функции базовой организации для формирующейся сети музеев нового типа; научно-
              методического центра, разрабатывающего принципы и методы построения историко-революционных музеев. Но уже
              с 1927 г. (празднования 10-летия революции) задачи музея были существенно расширены. </p>

            <a href="#">подробнее →</a>
          </div>
        </article>
      </li>
      <li class="history__item" data-aos="fade-up">
        <article class="history__text">
          <div class="history__year">1940 - 1950</div>
          <h3 class="history__title">Великая Отечественная война</h3>
          <div class="history__column  history__column--picture" data-aos="zoom-in" data-aos-duration="400">
            <a href="#">
              <img src="/img/history/4.jpg" alt="Описание для фотографии">
            </a>
          </div>
          <div class="history__column  history__column--text">
            <p>Вместо торжественного открытия 23 июня 1941 г. в главной инвентарной книге появилась запись о первом
              экспонате военного времени – купленной в магазине листовке с текстом выступления по радио В. М. Молотова.
            </p>

            <p>Только за первые месяцы войны штат сотрудников сократился более чем на треть. Из тех, кого не призвали в
              армию, многие ушли добровольно, записавшись в народное ополчение. Несмотря на это, коллектив оперативно
              решал задачи по перестройке работы музея в соответствии с условиями военного времени. До 1944 г. тема
              войны оставалась основной для музея.</p>

            <a href="#">подробнее →</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
