---
title: история музея
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}

<section class="timeline">
  <div class="timeline__wrapper">
    <ul class="timeline__list">
      <li class="timeline__item">
        <article class="timeline__article">
          <div class="timeline__year">1831-1917 годы </div>
          <h2 class="timeline__header">Английский клуб</h2>
          <div class="timeline__text">
            <p>Музей расположен в центре Москвы в здании-памятнике архитектуры позднего классицизма конца XVIII века. С
              1831 по 1917 годы в нем размещался Московский Английский клуб.</p>
          </div>
        </article>
      </li>

      <li class="timeline__item">
        <article class="timeline__article">
          <div class="timeline__year">1917 год</div>
          <h2 class="timeline__header">Создание музея</h2>
          <div class="timeline__picture"><img src="/img/history-pic-1.jpg" alt=""></div>
          <div class="timeline__text">
            <p>Днем рождения музея считается 21 марта (8 марта по старому стилю) 1917 года, когда директор музея
              Всероссийского Союза городов, известный журналист В.П.Кранихфельд обратился к председателю Исполнительного
              Комитета Московских общественных организаций Н.М.Кишкину с предложением «безотлагательно созвать совещание
              из представителей исторической науки и существующих в Москве музеев с целью научной и практической
              разработки вопроса о создании в Москве Музея революции».</p>
            <p>На совещании, которое состоялось 4 апреля (22 марта по старому стилю) 1917 года, было создано Общество
              Музея революции, объединившее людей различных политических убеждений: прогрессивных ученых, деятелей
              культуры, писателей и публицистов, представителей различных течений русского революционно —
              освободительного движения. Именно тогда были определены основные направления деятельности будущего Музея:
              собирать разноплановые источники и всесторонне изучать историю русского освободительного движения.</p>
          </div>
        </article>
      </li>

      <li class="timeline__item">
        <article class="timeline__article">
          <div class="timeline__video"></div>
          <div class="timeline__text">
            <p>Название видеоролика</p>
          </div>
          <div class="timeline__year"></div>
        </article>
      </li>
    </ul>
  </div>
</section>

<section class="banners">
  <div class="banners__wrapper">
    <ul class="banners__list  banners__list--grid">
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
