---
title: Музей современной истории России
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}

<section class="museum">
  <div class="museum__wrapper">
    <div class="museum__info  museum__info--grid">
      <div class="museum__contacts  museum__contacts--address">
        <h3>Адрес</h3>
        <div class="museum__contacts-row">
          <p>г. Москва, Тверская ул., дом 21</p>
          <a href="#">Схема проезда</a>
        </div>
      </div>
      <div class="museum__contacts museum__contacts--map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A7993977c96197ca29c40984b4324fda4f20d687e548c92a5f6da5233110d323e&amp;source=constructor"
          width="100%" height="370" frameborder="0"></iframe>
      </div>
      <div class="museum__contacts  museum__contacts--phones">
        <h3>Телефоны</h3>
        <div class="museum__contacts-row">
          <span>Информация</span>
          <p>+7 (495) 699-54-58</p>
        </div>
        <div class="museum__contacts-row">
          <span>Экскурсионное бюро</span>
          <p>+7 (495) 699-67-24</p>
        </div>
      </div>
      <div class="museum__contacts  museum__contacts--email">
        <h3>E-mail</h3>
        <div class="museum__contacts-row">
          <p>museum@sovrhistory.ru</p>
          <a href="#">Информация для СМИ</a>
        </div>
      </div>
      <div class="museum__contacts  museum__contacts--hours">
        <h3>Время работы</h3>
        <div class="museum__contacts-row">
          <p>Пн-Пт с 8:00 до 16:30</p>
          <p>Сб-Вс с 9:00 до 20:з0</p>
        </div>
      </div>
      <div class="museum__contacts  museum__contacts--buy">
        <a href="#" class="btn  museum__contacts-btn">Купить билет</a>
      </div>
    </div>
  </div>

  <div class="museum__info  museum__info--gray">
    <div class="museum__wrapper  museum__wrapper--grid">
      <div class="museum__info-header">
        <div class="museum__info-header-pic"><img src="/img/buildings/main-building.svg" alt="Иконка здания"></div>
        <div class="museum__info-header-text">
          <p>Государственный центральный музей современной истории России (до 1998 года — Музей революции)
            — один из крупнейших музеев новейшей истории в мире.</p>
        </div>
      </div>

      <!-- <div class="museum__info-column">
        <div class="museum__info-about-pic">
          <figure>
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/buildings/museums/main-building-desktop.jpg"
                srcset="/img/buildings/museums/main-building-desktop.jpg">
              <source media="(min-width: 768px)" data-src="/img/buildings/museums/main-building-tablet.jpg"
                srcset="/img/buildings/museums/main-building-tablet.jpg">
              <img class="lozad" data-src="/img/buildings/museums/main-building-mobile.jpg"
                src="/img/buildings/museums/main-building-mobile.jpg" alt="Описание картинки" loading="lazy">
            </picture>
            <figcaption>Главный фасад музея современной истории России</figcaption>
          </figure>
        </div>
      </div>
      <div class="museum__info-column">
        <div class="museum__info-about-text">
          <p>Здание музея является архитектурным памятником русского классицизма конца XVIII века. Этот старинный
            московский особняк стал широко известен, когда в 1831 году в нем разместился Московский Английский клуб.
          </p>

          <p>Новый этап жизни знаменитого здания на Тверской начался в марте 1917 года, когда после Февральской
            революции и свержения в России монархии возникла идея создания в Москве музея революции. Первая экспозиция
            музея открылась для посетителей в 1924 году...</p>

          <a href="#" class="read-more-show hide">Подробнее</a>

          <div class="read-more-content">
            <p>Размещение музея в старинном здании позволило сохранить уникальный архитектурный ансамбль, возродить его
              значение как культурного, просветительского центра Москвы.</p>

            <p>В настоящее время уникальные музейные коллекции насчитывают более миллиона экспонатов. Представленные в
              залах исторические памятники отражают основные этапы развития страны с середины XIX века до наших дней.
            </p>
            <a href="#" class="read-more-hide hide">Свернуть</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<section class="tabs">
  <div class="tabs__content  tabs__content--light-gray">
    <div class="tabs__wrapper">
      <div class="tabs__item  tabs__item--horizontal  active">
        <div class="tabs__item-pic">
          <div class="tabs__item-slider">
            <div class="tabs__item-slider-item">
              <img class="lozad" data-src="/img/buildings/slider/main-building-hor-slider.jpg"
                src="/img/buildings/slider/main-building-hor-slider.jpg" alt="Подпись к фотографии">
              <p>Главный фасад музея современной истории России</p>
            </div>
            <div class="tabs__item-slider-item">
              <img class="lozad" data-src="/img/buildings/slider/main-building-hor-slider.jpg"
                src="/img/buildings/slider/main-building-hor-slider.jpg" alt="Подпись к фотографии">
              <p>Главный фасад музея современной истории России</p>
            </div>
          </div>
        </div>
        <div class="tabs__item-text">
          <p>Здание музея является архитектурным памятником русского классицизма конца XVIII века. Этот старинный
            московский особняк стал широко известен, когда в 1831 году в нем разместился Московский Английский клуб.
          </p>

          <p>Новый этап жизни знаменитого здания на Тверской начался в марте 1917 года, когда после Февральской
            революции и свержения в России монархии возникла идея создания в Москве музея революции. Первая экспозиция
            музея открылась для посетителей в 1924 году...</p>

          <a href="#" class="read-more-show hide">Подробнее</a>

          <div class="read-more-content">
            <p>Размещение музея в старинном здании позволило сохранить уникальный архитектурный ансамбль, возродить его
              значение как культурного, просветительского центра Москвы.</p>

            <p>В настоящее время уникальные музейные коллекции насчитывают более миллиона экспонатов. Представленные в
              залах исторические памятники отражают основные этапы развития страны с середины XIX века до наших дней.
            </p>
            <a href="#" class="read-more-hide hide">Свернуть</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="preview">
  <h2 class="preview__title">Cобытия в Главном</h2>

  <div class="preview__filter">
    <div class="preview__filter-dates">
      <div class="preview__filter-row">
        <p>дата начала:</p>
        <div class="preview__dates-field">

          <input type="text" placeholder="дата начала" aria-label="дата начала" class="form-control start-date">
        </div>
      </div>

      <div class="preview__filter-row">
        <p>дата окончания:</p>
        <div class="preview__dates-field">
          <input type="text" placeholder="дата окончания" aria-label="дата окончания" class="form-control end-date">
        </div>
      </div>
    </div>

    <div class="preview__filter-types">

      <div class="preview__filter-row">
        <p>тип события <span class="preview__filter-values">2</span></p>
        <select class="js-example-basic-multiple" name="types[]" multiple="multiple">
          <option value="type-1">Выставка</option>
          <option value="type-2">Экспозиция</option>
        </select>
      </div>
    </div>
  </div>

  <div class="preview__buttons">
    <select class="js-example-basic-multiple" name="date">
      <option value="all">Все события</option>
      <option value="today">Сегодня</option>
      <option value="tomorrow">Завтра</option>
      <option value="weekend">На выходных</option>
      <option value="7-days">На 7 дней</option>
      <option value="14-days">На 14 дней</option>
    </select>

    <div class="preview__buttons-filter">
      <button value="all" type="button" class="active">Все</button>
      <button value="today" type="button">Сегодня</button>
      <button value="tomorrow" type="button">Завтра</button>
      <button value="weekend" type="button">На выходных</button>
      <button value="7-days" type="button">На 7 дней</button>
      <button value="14-days" type="button">На 14 дней</button>
    </div>
  </div>

  <div class="preview__slider">
    <ul class="preview__slider-list">
      <li class="preview__slider-item">
        <article class="preview__article"
          style="background-image: url('/img/preview-events/preview-slide-1-full-tablet.jpg');">
          <div class="preview__article-time">16:30</div>
          <div class="preview__article-type">Выставка</div>
          <h3><a href="#">Выставка современной истории </a></h3>
          <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
        </article>
      </li>
      <li class="preview__slider-item">
        <article class="preview__article"
          style="background-image: url('/img/preview-events/preview-slide-1-full-tablet.jpg');">
          <div class="preview__article-time">16:30</div>
          <div class="preview__article-type">Выставка</div>
          <h3><a href="#">Экспозиция итальянской культуры</a></h3>
          <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
        </article>
      </li>
      <li class="preview__slider-item">
        <article class="preview__article">
          <div class="preview__article-time">16:30</div>
          <div class="preview__article-type">Выставка</div>
          <h3><a href="#">Выставка галереи картин Айвазовского</a></h3>
          <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
        </article>
      </li>
      <li class="preview__slider-item">
        <article class="preview__article">
          <div class="preview__article-time">16:30</div>
          <div class="preview__article-type">Выставка</div>
          <h3><a href="#">Выставка галереи картин Айвазовского</a></h3>
          <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
        </article>
      </li>
      <li class="preview__slider-item">
        <article class="preview__article">
          <div class="preview__article-time">16:30</div>
          <div class="preview__article-type">Выставка</div>
          <h3><a href="#">Выставка галереи картин Айвазовского</a></h3>
          <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
        </article>
      </li>
      <li class="preview__slider-item">
        <article class="preview__article">
          <div class="preview__article-time">16:30</div>
          <div class="preview__article-type">Выставка</div>
          <h3><a href="#">Выставка галереи картин Айвазовского</a></h3>
          <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
        </article>
      </li>
      <li class="preview__slider-item">
        <article class="preview__article">
          <div class="preview__article-time">16:30</div>
          <div class="preview__article-type">Выставка</div>
          <h3><a href="#">Выставка галереи картин Айвазовского</a></h3>
          <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
        </article>
      </li>
    </ul>

    <div class="preview__slider-controls">
      <button class="preview__slider-prev" type="button"><span class="visually-hidden">Следующий слайд</span></button>
      <button class="preview__slider-next" type="button"><span class="visually-hidden">Предыдущий слайд</span></button>
    </div>

  </div>
</section>

<section class="events">
  <div class="events__wrapper">
    <div class="events__custom-select">
      <div class="events__select-value">Экспозиции</div>
      <ul class="events__filter-list">
        <li class="events__filter-item  events__filter-item--active"><a href="#">Экспозиции</a>
        </li>
        <li class="events__filter-item"><a href="#">Коллекции</a></li>
        <li class="events__filter-item"><a href="#">Виртуальный музей</a></li>
        <li class="events__filter-item"><a href="#">Спецпроекты</a></li>
      </ul>
    </div>

    <ul class="events__cards-list">
      {% for i in range(0, 6) -%}
      <li class="events__card">
        <a href="#" class="events__link">
          <div class="events__card-pic">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/buildings/museums/events/event-desktop.jpg"
                srcset="/img/buildings/museums/events/event-desktop.jpg">
              <img class="lozad" data-src="/img/buildings/museums/events/event-mobile.jpg"
                src="/img/buildings/museums/events/event-mobile.jpg" alt="Описание картинки" loading="lazy">
            </picture>
          </div>
          <div class="events__card-place">Зал № 2</div>
          <div class="events__card-text">
            <p>«Модернизация экономики и общественное движение в Российской империи во второй половине XIX века»</p>
          </div>
        </a>
      </li>
      {%- endfor %}
    </ul>
  </div>
</section>

<section class="museum  museum--customer-block">
  <div class="museum__wrapper">
    <h2 class="museum__title  museum__title--pink">Информация для посетителей</h2>
    <div class="museum__info museum__info--grid  museum__info--customer-block">
      <div class="museum__info-cost">
        <h3>Стоимость входных билетов</h3>
        <table>
          <tr>
            <td>300 ₽ — </td>
            <td>полный билет</td>
          </tr>
          <tr>
            <td>150 ₽ — </td>
            <td>льготный билет<br><i>(для студентов вузов РФ, пенсионеров).</i></td>
          </tr>
        </table>
        <ul>
          <li><a href="#">Экскурсии и программы</a></li>
          <li><a href="#">Инвалидам</a></li>
          <li><a href="#">Другая ссылка 3</a></li>
          <li><a href="#">Другая ссылка 4</a></li>
        </ul>
      </div>
      <div class="museum__info-ruls">
        <h3>Правила посещения</h3>
        <p>Посещение Музея осуществляется по предварительной записи, согласовав дату и время посещения, организованными
          группами до 15 человек в сопровождении руководителя группы.</p>

        <p>Организованные группы сторонних организаций должны
          направить официальное письмо на бланке организации с просьбой о посещении Музея. Письмо можно
          передать в канцелярию или направить
          отсканированную электронную копию письма по электронной почте на
          официальный адрес.</p>
        <a href="#">Полные правила</a>
      </div>
      <div class="museum__info-links">
        <h3>Скачайте полезные материалы к посещению:</h3>
        <ul>
          <li>Планы залов <a href="#">(скачать PDF)</a></li>
          <li>Буклеты <a href="#">(скачать PDF)</a></li>
          <li>Схема музея <a href="#">(скачать PDF)</a></li>
          <li>Посетительские брошюрки <a href="#">(скачать PDF)</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
