---
title: Партнетры
subtitle:
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}


<section class="partners-page">
  <div class="partners-page__wrapper">
    <div class="partners-page__text">
      <div class="partners-page__text-col">
        <p>Спонсоры и партнеры ГМИИ им. А.С. Пушкина — компании, бренды, которые оказывают поддержку выставочных,
          образовательных или других инициатив музея, тем самым повышая собственную узнаваемость, знание и лояльность у
          целевой аудитории, становясь частью культурного прогресса в нашей стране.</p>
      </div>
      <div class="partners-page__text-col">
        <p>Пушкинский музей представляет собой открытую, интерактивную сцену, демонстрирующую развитие мировой культуры
          с древности до наших дней, живое, знакомое с детства пространство для получения знаний и общения. Оказываемая
          спонсорами и партнерами поддержка позволяет музею осуществлять большее количество проектов, каждый из которых
          является событием в культурной жизни столицы и всей страны.</p>
      </div>
    </div>

    <section class="company">
      <h2 class="company__title">Фандрайзинговые <br> кампании</h2>
      <ul class="company__list">
        <li class="company__item" style="background-image: url(/img/partner-bg.jpg);">
          <h3>Фандрайзинговая <br> кампания 1</h3>
          <a href="#" class="company__link">Узнать подробнее</a>
        </li>
        <li class="company__item" style="background-image: url(/img/partner-bg.jpg);">
          <h3>Фандрайзинговая <br> кампания 2</h3>
          <a href="#" class="company__link">Узнать подробнее</a>
        </li>
        <li class="company__item" style="background-image: url(/img/partner-bg.jpg);">
          <h3>Фандрайзинговая <br> кампания 3</h3>
          <a href="#" class="company__link">Узнать подробнее</a>
        </li>
        <li class="company__item">
          <h3 class="company__title">Фандрайзинговая <br> кампания 4</h3>
          <a href="#" class="company__link">Узнать подробнее</a>
        </li>
        <li class="company__item">
          <h3>Фандрайзинговая <br> кампания 5</h3>
          <a href="#" class="company__link">Узнать подробнее</a>
        </li>
        <li class="company__item">
          <h3>Фандрайзинговая <br> кампания 6</h3>
          <a href="#" class="company__link">Узнать подробнее</a>
        </li>
      </ul>

    </section>

    <section class="partners-page__patners">
      <h2 class="partners-page__patners-title">Партнеры и спонсоры музея</h2>
      <article class="partners-page__patners-article  partners-page__patners-article--general">
        <h3>Генеральный партнер</h3>
        <ul class="partners-page__patners-list">
          <li class="partners-page__patners-item  partners-page__patners-item--general">
            <a href="#">
              <img src="/img/partner-logo.jpg" alt="">
              <div class="partners-page__patners-text">
                <p>Все ригалии генерального парнера</p>
                <p>Генеральный спонсор ГМИИ им. А.С. Пушкина</p>
                <p>Генеральный спонсор выставки "От Дюрера до Матисса.</p>
                <p>Избранные рисунки из собрания ГМИИ им. А. С. Пушкина"</p>
              </div>
            </a>
          </li>
        </ul>
      </article>

      <article class="partners-page__patners-article">
        <h3>Партнеры проектов</h3>
        <ul class="partners-page__patners-list  partners-page__patners-list--grid">
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="https://sovr.museumplus.ru/partners/sponsors/317_logomain_ru.jpg"
                  alt="Логотип партнера с названием">
              </div>
              <div class="partners-page__patners-text">
                <p>Партнер направления Пушкинский XXI</p>
              </div>
            </a>
          </li>
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="https://sovr.museumplus.ru/partners/sponsors/318_logomain_ru.jpg"
                  alt="Логотип партнера с названием">
              </div>
              <div class="partners-page__patners-text">
                <p>Партнер направления Пушкинский XXI</p>
              </div>
            </a>
          </li>
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="https://sovr.museumplus.ru/partners/sponsors/319_logomain_ru.jpg"
                  alt="Логотип партнера с названием">
              </div>
              <div class="partners-page__patners-text">
                <p>Партнер направления Пушкинский XXI</p>
              </div>
            </a>
          </li>
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="/img/partner-logo.jpg" alt="Логотип партнера с названием">
              </div>
              <div class="partners-page__patners-text">
                <p>Партнер направления Пушкинский XXI</p>
              </div>
            </a>
          </li>
        </ul>
      </article>

      <article class="partners-page__patners-article">
        <h3>Консультанты музея</h3>
        <ul class="partners-page__patners-list  partners-page__patners-list--grid">
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="/img/partner-logo.jpg" alt="Логотип партнера с названием">
              </div>
            </a>
          </li>
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="/img/partner-logo.jpg" alt="Логотип партнера с названием">
              </div>
            </a>
          </li>
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="/img/partner-logo.jpg" alt="Логотип партнера с названием">
              </div>
            </a>
          </li>
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="/img/partner-logo.jpg" alt="Логотип партнера с названием">
              </div>
            </a>
          </li>
        </ul>
      </article>

      <article class="partners-page__patners-article">
        <h3>Информационные партнеры</h3>
        <ul class="partners-page__patners-list  partners-page__patners-list--grid">
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="/img/partner-logo.jpg" alt="Логотип партнера с названием">
              </div>
            </a>
          </li>
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="/img/partner-logo.jpg" alt="Логотип партнера с названием">
              </div>
            </a>
          </li>
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="/img/partner-logo.jpg" alt="Логотип партнера с названием">
              </div>
            </a>
          </li>
          <li class="partners-page__patners-item">
            <a href="#">
              <div class="partners-page__patners-logo">
                <img src="/img/partner-logo.jpg" alt="Логотип партнера с названием">
              </div>
            </a>
          </li>
        </ul>
      </article>
    </section>
  </div>
</section>

<section class="partners-page__sub-nav">
  <div class="partners-page__sub-nav-wrapper">
    <ul class="partners-page__sub-nav-list">
      <li class="partners-page__sub-nav-item"><a href="#">Друзья музея</a></li>
      <li class="partners-page__sub-nav-item"><a href="#">Корпоративные программы</a></li>
      <li class="partners-page__sub-nav-item"><a href="#">Частное партнерство</a></li>
      <li class="partners-page__sub-nav-item"><a href="#">Donation оn-line</a></li>
      <li class="partners-page__sub-nav-item"><a href="#">Провести мероприятие</a></li>
      <li class="partners-page__sub-nav-item"><a href="#">Эндаумент фонд</a></li>
    </ul>
  </div>
</section>

<section class="partners-page">
  <div class="partners-page__wrapper">
    <div class="partners-page__contacts">
      <div class="partners-page__contacts-text">
        <h2>Контакты отдела развития</h2>
        <p>Если вы хотите стать нашим партнером или оказать содействие в организации проектов напишите нам на сайте или
          на почту или свяжитесь с нами по указаному телефону.</p>
        <div class="partners-page__contacts-links">
          <p class="partners-page__contacts-row">
            <span>Почта</span>
            <a href="mailto:partners@musem.ru">partners@musem.ru</a>
          </p>
          <p class="partners-page__contacts-row">
            <span>Телефон</span>
            <a href="tel:+79294433223">+7 929 443 3223</a>
          </p>
        </div>
      </div>

      <form action="#" method="POST" class="partners-page__form">
        <div class="partners-page__form-field">
          <label for="mail" class="visually-hidden">Ваша почта</label>
          <input type="mail" name="mail" id="mail" placeholder="Ваша почта">
        </div>
        <div class="partners-page__form-field">
          <label for="name" class="visually-hidden">Вашe имя</label>
          <input type="text" name="name" id="name" placeholder="Вашe имя">
        </div>
        <div class="partners-page__form-field  partners-page__form-field--wide">
          <label for="text" class="visually-hidden">Текст вопроса или предложения</label>
          <textarea name="text" id="text" resize="none" placeholder="Текст вопроса или предложения"></textarea>
        </div>
        <div class="partners-page__form-policy">
          <input class="visually-hidden" type="checkbox" id="policy" name="policy" required>
          <label for="policy">Я согласен с <a href="#">политикой обработки персональных данных</a></label>
        </div>
        <button class="partners-page__form-btn btn" type="submit">Отаправить</button>
      </form>
    </div>
  </div>
</section>


{% endblock %}
