---
title: Человек и война. Нерасказанная история
subtitle: Подзаголовок выставки который мельче
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}


<section class="text">
  <div class="text__wrapper">
    <div class="text__date">21 февраля 2020 - 30 июня 2020</div>
  </div>

  <div class="text__header-pic">
    <picture>
      <source media="(min-width: 1440px)" data-src="/img/text/text-img-desktop.jpg"
        srcset="/img/text/text-img-desktop.jpg">
      <source media="(min-width: 768px)" data-src="/img/text/text-img-tablet.jpg"
        srcset="/img/text/text-img-tablet.jpg">
      <img class="lozad" data-src="/img/text/text-img-mobile.jpg" src="/img/text/text-img-mobile.jpg"
        alt="Фотография к новости" loading="lazy">
    </picture>
    <div class="text__header-description">Подпись к титульной картинке</div>

    <img src="/img/text/banner-small.jpg" alt="">
    <img src="/img/text/banner-large.jpg" alt="">
  </div>

  <div class="text__wrapper">
    <article class="text__grid">
      <section class="text__info">
        <a class="text__info-btn" href="#">Смотреть выставку</a>
        <div class="text__date">21 февраля 2020 - 30 июня 2020</div>
        <div class="text__info-place"><a href="#">Музей современной истории России</a></div>

        <div class="text__info-price">
          <div class="text__price-left">600 ₽</div>
          <div class="text__price-right">Стоимость посещения</div>
        </div>

        <div class="text__info-description">

          <section class="text__title">
            <h3>21 февраля 2020 г. в Музее современной истории России открылся масштабный выставочный проект «Человек и
              война. Нерассказанная история», посвящённый 75-летию Победы в Великой Отечественной войне, которая
              несомненно
              стала очень важным и значимым периодом в жизни народа России и СССР</h3>
          </section>
          <a href="#">Входит в спецпроект «Нерассказанные истории: война»</a>
        </div>

        <a class="text__info-btn" href="#">Аудиогид</a>
      </section>

      <section class="text__article">

        <p>В центре внимания выставки — человек и его бытие в экстремальных условиях военной повседневности. Выставка
          представляет события тех лет не только через предметы, свидетельствующие о знаменитых сражениях, блестящих
          операциях и героизме советских людей. Она рассказывает личные истории: через стёршийся на сгибах солдатский
          треугольник, пожелтевшую фотокарточку, через гильзу — талисман, прошедший с хозяином пол-Европы; через кусочек
          «хлеба» из льняных жмыхов, обваленный в овсяной шелухе, — подарок рабочим завода «Большевик» на Новый год;
          через комплекс вещей, принадлежавших студенткам Московского художественного училища (гитлеровцы пытали их,
          затем расстреляли и для устрашения повесили трупы девушек в г. Волоколамске); через предметы, связанные с
          жизнью и судьбой первой женщины-министра Александры Коллонтай, знаменитого разведчика Николая Кузнецова,
          выдающейся певицы и актрисы Клавдии Шульженко, маршала Константина Рокоссовского и многих других героев тех
          лет. Личные истории очевидцев — бесценные свидетельства эпохи, без которых невозможно осмыслить героическую и
          трагическую историю нашей страны.</p>

        <p>На выставке будут представлены более 300 предметов, среди которых — материалы, скомплектованные в военные
          годы, недавно найденные артефакты, материалы из семейных альбомов.... </p>

        <a href="#" class="read-more-show hide">Подробнее</a>

        <div class="read-more-content">
          <p>Начиная с июня 1941 г. Музей современной истории России пополнял коллекцию документами и предметами,
            связанными с Великой Отечественной войной, и до сих пор специалисты занимаются изучением, реставрацией и
            сбором новых материалов, посвящённых трагическим 1418 дням войны.</p>

          <p>Через личные истории на выставке будут показаны важнейшие вехи войны и затронуты такие глобальные темы, как
            всеобщая мобилизация, жизнь и подвиг тыла, научные разработки (в том числе создание советского атомного
            проекта), вклад Русской православной церкви в борьбу с нацизмом, деятельность артистов и творческих
            коллективов на фронте, работа дипломатического корпуса и внешней разведки, жизнь на оккупированных
            территориях, проблема сиротства.</p>

          <p>Выставка является частью мультимедийного образовательного выставочного проекта «Человек и война.
            Нерассказанная история. К 75-летию Победы в Великой Отечественной войне 1941–1945 гг.», подготовленного
            Музеем и автономной некоммерческой организацией дополнительного образования «Центр народного просвещения»
            при поддержке Фонда президентских грантов.</p>
          <a href="#" class="read-more-hide hide">Свернуть</a>
        </div>

      </section>

      <div class="text__video">
        {% include "../templates/partials/_video.html" %}
        <p>Описание картинки, если будет нужно, может быть длиннымв несколько строк</p>
      </div>

      <div class="text__share">
        <section class="social">
          <h2 class="social__title">Поделиться в соцсетях:</h2>
          <ul class="social__list  social__list--in-text">
            <li class="social__item"><a href="#" class="social__link  social__link--fb"><span
                  class="visually-hidden">Вк</span></a></li>
            <li class="social__item"><a href="#" class="social__link  social__link--vk"><span
                  class="visually-hidden"></span></a></li>
            <li class="social__item"><a href="#" class="social__link  social__link--ok"><span
                  class="visually-hidden"></span></a></li>
            <li class="social__item"><a href="#" class="social__link  social__link--inst"><span
                  class="visually-hidden"></span></a></li>
            <li class="social__item"><a href="#" class="social__link  social__link--tw"><span
                  class="visually-hidden"></span></a></li>
          </ul>
        </section>
      </div>
      <div class="text__download">
        <a href="#" class="download-link">Скачать PDF-релиз</a>
      </div>
    </article>
  </div>

  <div class="text__slider">
    <div class="popup-slider">
      <div class="popup__slider-list" id="lightgallery">
        <div class="popup__slider-item">
          <a href="/img/text/popup/popup-desktop.jpg" data-srcset="
            /img/text/popup/popup-mobile.jpg 375w,
            /img/text/popup/popup-tablet.jpg 768w,
            /img/text/popup/popup-desktop.jpg 1440w" data-sizes="(min-width: 320px) 768px, 1440px"
            data-sub-html="<h4>Название фотографии</h4><p>Подпись к данной фотографии которая обьясняет чуть больше чем название и может быть в несколько строк</p>">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/text/slider/slide-img-1-desktop.jpg"
                srcset="/img/text/slider/slide-img-1-desktop.jpg">
              <img class="lozad" data-src="/img/text/slider/slide-img-1-mobile.jpg"
                src="/img/text/slider/slide-img-1-mobile.jpg" alt="Название фотографии" loading="lazy">
            </picture>
          </a>
        </div>
        <div class="popup__slider-item">
          <a href="/img/text/popup/popup-desktop.jpg" data-srcset="
          /img/text/popup/popup-mobile.jpg 375w,
          /img/text/popup/popup-tablet.jpg 768w,
          /img/text/popup/popup-desktop.jpg 1440w" data-sizes="(min-width: 320px) 768px, 1440px"
            data-sub-html="<h4>Название фотографии 2</h4><p>Подпись к данной фотографии которая обьясняет чуть больше чем название и может быть в несколько строк</p>">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/text/slider/slide-img-2-desktop.jpg"
                srcset="/img/text/slider/slide-img-2-desktop.jpg">
              <img class="lozad" data-src="/img/text/slider/slide-img-2-mobile.jpg"
                src="/img/text/slider/slide-img-2-mobile.jpg" alt="Название фотографии" loading="lazy">
            </picture>
          </a>
        </div>
        <div class="popup__slider-item">
          <a href="/img/text/popup/popup-desktop.jpg" data-srcset="
          /img/text/popup/popup-mobile.jpg 375w,
          /img/text/popup/popup-tablet.jpg 768w,
          /img/text/popup/popup-desktop.jpg 1440w" data-sizes="(min-width: 320px) 768px, 1440px"
            data-sub-html="<h4>Название фотографии</h4><p>Подпись к данной фотографии которая обьясняет чуть больше чем название и может быть в несколько строк</p>">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/text/slider/slide-img-3-desktop.jpg"
                srcset="/img/text/slider/slide-img-3-desktop.jpg">
              <img class="lozad" data-src="/img/text/slider/slide-img-3-mobile.jpg"
                src="/img/text/slider/slide-img-3-mobile.jpg" alt="Название фотографии" loading="lazy">
            </picture>
          </a>
        </div>
        <div class="popup__slider-item">
          <a href="/img/text/popup/popup-desktop.jpg" data-srcset="
          /img/text/popup/popup-mobile.jpg 375w,
          /img/text/popup/popup-tablet.jpg 768w,
          /img/text/popup/popup-desktop.jpg 1440w" data-sizes="(min-width: 320px) 768px, 1440px"
            data-sub-html="<h4>Название фотографии 3</h4><p>Подпись к данной фотографии которая обьясняет чуть больше чем название и может быть в несколько строк</p>">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/text/slider/slide-img-4-desktop.jpg"
                srcset="/img/text/slider/slide-img-4-desktop.jpg">
              <img class="lozad" data-src="/img/text/slider/slide-img-4-mobile.jpg"
                src="/img/text/slider/slide-img-4-mobile.jpg" alt="Название фотографии" loading="lazy">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="text__wrapper">
    <section class="text__article">
      <h2>Заголовок 2</h2>
      <h3>Заголовок 3</h3>
      <h4>Заголовок 4</h4>
      <p>В центре внимания выставки — человек и его бытие в экстремальных условиях военной повседневности. Выставка
        представляет события тех лет не только через предметы, свидетельствующие о знаменитых сражениях, блестящих
        операциях и героизме советских людей. Она рассказывает личные истории: через стёршийся на сгибах солдатский
        треугольник, пожелтевшую фотокарточку, через гильзу — талисман, прошедший с хозяином пол-Европы; через кусочек
        «хлеба» из льняных жмыхов, обваленный в овсяной шелухе, — подарок рабочим завода «Большевик» на Новый год; через
        комплекс вещей, принадлежавших студенткам Московского художественного училища (гитлеровцы пытали их, затем
        расстреляли и для устрашения повесили трупы девушек в г. Волоколамске); через предметы, связанные с жизнью и
        судьбой первой женщины-министра Александры Коллонтай, знаменитого разведчика Николая Кузнецова, выдающейся
        певицы и актрисы Клавдии Шульженко, маршала Константина Рокоссовского и многих других героев тех лет. Личные
        истории очевидцев — бесценные свидетельства эпохи, без которых невозможно осмыслить героическую и трагическую
        историю нашей страны.</p>
      <ul>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad reiciendis fugiat magnam quia, ullam porro
          mollitia, perspiciatis omnis fugit eveniet odit saepe aperiam eos numquam aspernatur quis dolore molestiae
          possimus.</li>
        <li>Sapiente cupiditate aperiam rem inventore voluptatum quaerat minus voluptates ex illo! Enim quidem commodi
          maiores, ullam temporibus odio culpa repellat dolorem. Consectetur repellendus nihil aspernatur soluta
          expedita, distinctio voluptatem eius.</li>
        <li>Suscipit itaque beatae voluptatum architecto doloribus doloremque ratione delectus aut, sint incidunt quo
          repellendus iusto accusantium iure consectetur rerum ex optio quidem aliquam blanditiis assumenda omnis
          voluptatibus possimus veritatis? Numquam?</li>
        <li>Quidem, architecto unde explicabo vel molestias officiis ex molestiae reiciendis voluptates eos. Quos
          assumenda perspiciatis nisi recusandae fugit harum ipsa blanditiis, esse a, dolore cumque omnis placeat odio
          ea sunt.</li>
        <li>Impedit dolorum laborum beatae neque aut rem, qui voluptatum dicta laboriosam et. Quisquam corrupti ut
          consequatur perspiciatis nostrum vitae repudiandae magnam alias, excepturi cum iste nesciunt ratione deleniti
          totam placeat?</li>
      </ul>
      <ol>
        <li> <a href="#">а я ссылка</a>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad reiciendis fugiat
          magnam quia, ullam porro mollitia, perspiciatis omnis fugit eveniet odit saepe aperiam eos numquam aspernatur
          quis dolore molestiae possimus.</li>
        <li>Sapiente cupiditate aperiam rem inventore voluptatum quaerat minus voluptates ex illo! Enim quidem commodi
          maiores, ullam temporibus odio culpa repellat dolorem. Consectetur repellendus nihil aspernatur soluta
          expedita, distinctio voluptatem eius.</li>
        <li>Suscipit itaque beatae voluptatum architecto doloribus doloremque ratione delectus aut, sint incidunt quo
          repellendus iusto accusantium iure consectetur rerum ex optio quidem aliquam blanditiis assumenda omnis
          voluptatibus possimus veritatis? Numquam?</li>
        <li>Quidem, architecto unde explicabo vel molestias officiis ex molestiae reiciendis voluptates eos. Quos
          assumenda perspiciatis nisi recusandae fugit harum ipsa blanditiis, esse a, dolore cumque omnis placeat odio
          ea sunt.</li>
        <li>Impedit dolorum laborum beatae neque aut rem, qui voluptatum dicta laboriosam et. Quisquam corrupti ut
          consequatur perspiciatis nostrum vitae repudiandae magnam alias, excepturi cum iste nesciunt ratione deleniti
          totam placeat?</li>
      </ol>
      <p>На выставке будут представлены более 300 предметов, среди которых — материалы, скомплектованные в военные годы,
        недавно найденные артефакты, материалы из семейных альбомов.... </p>
      <a href="#" class="read-more-show">Подробнее</a>
      <div class="read-more-content hide">
        <p>Начиная с июня 1941 г. Музей современной истории России пополнял коллекцию документами и предметами,
          связанными с Великой Отечественной войной, и до сих пор специалисты занимаются изучением, реставрацией и
          сбором новых материалов, посвящённых трагическим 1418 дням войны.</p>
        <p>Через личные истории на выставке будут показаны важнейшие вехи войны и затронуты такие глобальные темы, как
          всеобщая мобилизация, жизнь и подвиг тыла, научные разработки (в том числе создание советского атомного
          проекта), вклад Русской православной церкви в борьбу с нацизмом, деятельность артистов и творческих
          коллективов на фронте, работа дипломатического корпуса и внешней разведки, жизнь на оккупированных
          территориях, проблема сиротства.</p>
        <p>Выставка является частью мультимедийного образовательного выставочного проекта «Человек и война.
          Нерассказанная история. К 75-летию Победы в Великой Отечественной войне 1941–1945 гг.», подготовленного Музеем
          и автономной некоммерческой организацией дополнительного образования «Центр народного просвещения» при
          поддержке Фонда президентских грантов.</p>
        <table>
          <tbody>
            <tr>
              <th>Экскурсия</th>
              <th>Адрес объекта</th>
              <th>Дата экскурсии</th>
            </tr>
            <tr>
              <td>
                <b>Экскурсия</b>
                <p>Черноземье и земледелие в условиях зараженности радиацией</p>
                <p><a href="#">Подробнее</a></p>
              </td>
              <td>
                <b>Адрес объекта</b>
                <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
              </td>
              <td>
                <b>Дата экскурсии</b>
                <p>16 сентября, 15:30</p>
              </td>
            </tr>
            <tr>
              <td>
                <b>Экскурсия</b>
                <p>Черноземье и земледелие в условиях зараженности радиацией</p>
                <p><a href="#">Подробнее</a></p>
              </td>
              <td>
                <b>Адрес объекта</b>
                <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
              </td>
              <td>
                <b>Дата экскурсии</b>
                <p>16 сентября, 15:30</p>
              </td>
            </tr>
            <tr>
              <td>
                <b>Экскурсия</b>
                <p>Черноземье и земледелие в условиях зараженности радиацией</p>
                <p><a href="#">Подробнее</a></p>
              </td>
              <td>
                <b>Адрес объекта</b>
                <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
              </td>
              <td>
                <b>Дата экскурсии</b>
                <p>16 сентября, 15:30</p>
              </td>
            </tr>
            <tr>
              <td>
                <b>Экскурсия</b>
                <p>Черноземье и земледелие в условиях зараженности радиацией</p>
                <p><a href="#">Подробнее</a></p>
              </td>
              <td>
                <b>Адрес объекта</b>
                <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
              </td>
              <td>
                <b>Дата экскурсии</b>
                <p>16 сентября, 15:30</p>
              </td>
            </tr>
          </tbody>
        </table>

        <a href="#" class="read-more-hide">Свернуть</a>
      </div>
    </section>
  </div>

  <!-- {% include "../templates/partials/_table.html" %} -->

  <section class="table">
    <div class="table__wrapper">
      <h2 class="table__title">Связанные события:</h2>
    </div>
  </section>

  <section class="preview  preview--full-page">
    <!-- <h2 class="preview__subtitle  preview__subtitle--no-padding">Связанные события:</h2> -->
    <div class="preview__slider ">

      <div class="preview__slider-controls">
        <button class="preview__slider-prev" type="button"><span class="visually-hidden">Предыдущий
            слайд</span></button>
      </div>
      <ul class="preview__slider-list">
        <li class="preview__slider-item">
          <article class="preview__article"
            style="background-image: url('/img/preview-events/preview-slide-1-full-tablet.jpg');">
            <div class="preview__article-time">16:30</div>
            <div class="preview__article-type">Выставка</div>
            <h3><a href="#">Выставка современной истории </a></h3>
            <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
          </article>
        </li>
        <li class="preview__slider-item">
          <article class="preview__article"
            style="background-image: url('/img/preview-events/preview-slide-1-full-tablet.jpg');">
            <div class="preview__article-time">16:30</div>
            <div class="preview__article-type">Выставка</div>
            <h3><a href="#">Экспозиция итальянской культуры</a></h3>
            <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
          </article>
        </li>
        <li class="preview__slider-item">
          <article class="preview__article">
            <div class="preview__article-time">16:30</div>
            <div class="preview__article-type">Выставка</div>
            <h3><a href="#">Выставка галереи картин Айвазовского</a></h3>
            <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
          </article>
        </li>
        <li class="preview__slider-item">
          <article class="preview__article">
            <div class="preview__article-time">16:30</div>
            <div class="preview__article-type">Выставка</div>
            <h3><a href="#">Выставка галереи картин Айвазовского</a></h3>
            <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
          </article>
        </li>
        <li class="preview__slider-item">
          <article class="preview__article">
            <div class="preview__article-time">16:30</div>
            <div class="preview__article-type">Выставка</div>
            <h3><a href="#">Выставка галереи картин Айвазовского</a></h3>
            <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
          </article>
        </li>
        <li class="preview__slider-item">
          <article class="preview__article">
            <div class="preview__article-time">16:30</div>
            <div class="preview__article-type">Выставка</div>
            <h3><a href="#">Выставка галереи картин Айвазовского</a></h3>
            <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
          </article>
        </li>
        <li class="preview__slider-item">
          <article class="preview__article">
            <div class="preview__article-time">16:30</div>
            <div class="preview__article-type">Выставка</div>
            <h3><a href="#">Выставка галереи картин Айвазовского</a></h3>
            <time class="preview__article-date" datetime="2020-03-20 16:30">20/03/20</time>
          </article>
        </li>
      </ul>

      <div class="preview__slider-controls">
        <button class="preview__slider-next" type="button"><span class="visually-hidden">Следующий слайд</span></button>
      </div>

    </div>
  </section>

  <section class="banners">
    <div class="banners__wrapper">
      <ul class="banners__list  banners__list--grid">
        <li class="banners__list-item">
          <a href="#">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
                srcset="/img/banners/banner-gray-desktop.jpg">
              <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg"
                src="/img/banners/banner-gray-mobile.jpg" alt="Баннер партнера>">
            </picture>
            <p>Наименование конкретного партнера</p>
          </a>
        </li>
        <li class="banners__list-item">
          <a href="#">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
                srcset="/img/banners/banner-gray-desktop.jpg">
              <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg"
                src="/img/banners/banner-gray-mobile.jpg" alt="Баннер партнера>">
            </picture>
            <p>Наименование конкретного партнера</p>
          </a>
        </li>
        <li class="banners__list-item">
          <a href="#">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
                srcset="/img/banners/banner-gray-desktop.jpg">
              <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg"
                src="/img/banners/banner-gray-mobile.jpg" alt="Баннер партнера>">
            </picture>
            <p>Наименование конкретного партнера</p>
          </a>
        </li>
        <li class="banners__list-item">
          <a href="#">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
                srcset="/img/banners/banner-gray-desktop.jpg">
              <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg"
                src="/img/banners/banner-gray-mobile.jpg" alt="Баннер партнера>">
            </picture>
            <p>Наименование конкретного партнера</p>
          </a>
        </li>
        <li class="banners__list-item">
          <a href="#">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
                srcset="/img/banners/banner-gray-desktop.jpg">
              <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg"
                src="/img/banners/banner-gray-mobile.jpg" alt="Баннер партнера>">
            </picture>
            <p>Наименование конкретного партнера</p>
          </a>
        </li>
        <li class="banners__list-item">
          <a href="#">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
                srcset="/img/banners/banner-gray-desktop.jpg">
              <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg"
                src="/img/banners/banner-gray-mobile.jpg" alt="Баннер партнера>">
            </picture>
            <p>Наименование конкретного партнера</p>
          </a>
        </li>
        <li class="banners__list-item">
          <a href="#">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
                srcset="/img/banners/banner-gray-desktop.jpg">
              <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg"
                src="/img/banners/banner-gray-mobile.jpg" alt="Баннер партнера>">
            </picture>
            <p>Наименование конкретного партнера</p>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="shop">
    <div class="shop__wrapper">
      <div class="shop__header">
        <h2 class="shop__title">Магазин</h2>
        <a href="#" class="shop__link">Перейти в магазин</a>
      </div>

      <ul class="shop__list">
        <li class="shop__item">
          <div class="shop__item-picture">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/shop/shop-pic-desktop.jpg"
                srcset="/img/shop/shop-pic-desktop.jpg">
              <img class="lozad" data-src="/img/shop/shop-pic-mobile.jpg" src="/img/shop/shop-pic-mobile.jpg"
                alt="Баннер партнера>">
            </picture>
          </div>
          <div class="shop__item-description">
            <h3>Раздел каталога</h3>
            <p>Описание какого-то товара который представлен в этом каталоге но при этом не является его основной частью
              зато относится к выставке</p>
            <a href="#" class="shop__item-link">Подробнее</a>
          </div>
        </li>
        <li class="shop__item">
          <div class="shop__item-picture">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/shop/shop-pic-desktop.jpg"
                srcset="/img/shop/shop-pic-desktop.jpg">
              <img class="lozad" data-src="/img/shop/shop-pic-mobile.jpg" src="/img/shop/shop-pic-mobile.jpg"
                alt="Баннер партнера>">
            </picture>
          </div>
          <div class="shop__item-description">
            <h3>Раздел каталога</h3>
            <p>Описание какого-то товара который представлен в этом каталоге но при этом не является его основной частью
              зато относится к выставке</p>
            <a href="#" class="shop__item-link">Подробнее</a>
          </div>
        </li>
        <li class="shop__item">
          <div class="shop__item-picture">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/shop/shop-pic-desktop.jpg"
                srcset="/img/shop/shop-pic-desktop.jpg">
              <img class="lozad" data-src="/img/shop/shop-pic-mobile.jpg" src="/img/shop/shop-pic-mobile.jpg"
                alt="Баннер партнера>">
            </picture>
          </div>
          <div class="shop__item-description">
            <h3>Раздел каталога</h3>
            <p>Описание какого-то товара который представлен в этом каталоге но при этом не является его основной частью
              зато относится к выставке</p>
            <a href="#" class="shop__item-link">Подробнее</a>
          </div>
        </li>
        <li class="shop__item">
          <div class="shop__item-picture">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/shop/shop-pic-desktop.jpg"
                srcset="/img/shop/shop-pic-desktop.jpg">
              <img class="lozad" data-src="/img/shop/shop-pic-mobile.jpg" src="/img/shop/shop-pic-mobile.jpg"
                alt="Баннер партнера>">
            </picture>
          </div>
          <div class="shop__item-description">
            <h3>Раздел каталога</h3>
            <p>Описание какого-то товара который представлен в этом каталоге но при этом не является его основной частью
              зато относится к выставке</p>
            <a href="#" class="shop__item-link">Подробнее</a>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="sub-nav  sub-nav--mb">
    <div class="sub-nav__wrapper">
      <ul class="sub-nav__list  sub-nav__list--wide">
        <li class="sub-nav__list-item"><a href="#">Анонсы</a></li>
        <li class="sub-nav__list-item"><a href="#">Региональные и зарубежные</a></li>
        <li class="sub-nav__list-item"><a href="#">Виртуальные</a></li>
        <li class="sub-nav__list-item"><a href="#">Архив</a></li>
      </ul>
    </div>
  </section>


</section>


{% endblock %}
