---
title: Человек и война. Нерасказанная история
subtitle: Подзаголовок выставки который мельче
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}


<section class="text">

  <div class="text__header-pic  text__header-pic--no-padding">
    <picture>
      <source media="(min-width: 1440px)" data-src="/img/text/text-img-desktop.jpg"
        srcset="/img/text/text-img-desktop.jpg">
      <source media="(min-width: 768px)" data-src="/img/text/text-img-tablet.jpg"
        srcset="/img/text/text-img-tablet.jpg">
      <img class="lozad" data-src="/img/text/text-img-mobile.jpg" src="/img/text/text-img-mobile.jpg"
        alt="Фотография к новости" loading="lazy">
    </picture>
    <div class="text__header-description">Подпись к титульной картинке</div>

    <img src="/img/text/banner-small.jpg" alt="">
    <img src="/img/text/banner-large.jpg" alt="">
  </div>

  <div class="text__wrapper">
    <article class="text__grid">
      <section class="text__article-slider">
        <div class="text__article-slider-list">
          <div class="text__article-slider-item">
            <article class="text__article-slide">
              <div class="text__article-slide-pic">
                <img src="/img/preview-events/preview-slide-1-full-tablet.jpg" alt="">
                <div class="text__article-slide-text">
                  <h3><a href="#">Выставка <br> современной <br> истории</a></h3>
                  <time class=" text__article-slide-date" datetime="2020-03-20 16:30">20/03/20</time>
                </div>
              </div>
              <p>Описание картинки, если будет нужно, может быть длиннымв несколько строк</p>
            </article>
          </div>
          <div class="text__article-slider-item">
            <article class="text__article-slide">
              <div class="text__article-slide-pic">
                <img src="/img/preview-events/preview-slide-1-mobile.jpg" alt="">
                <div class="text__article-slide-text">
                  <h3><a href="#">Выставка <br> современной <br> истории</a></h3>
                  <time class=" text__article-slide-date" datetime="2020-03-20 16:30">20/03/20</time>
                </div>
              </div>
              <p>Описание картинки, если будет нужно, может быть длиннымв несколько строк</p>
            </article>
          </div>
          <div class="text__article-slider-item">
            <article class="text__article-slide">
              <div class="text__article-slide-pic">
                <img src="/img/preview-events/preview-slide-1-full-tablet.jpg" alt="">
                <div class="text__article-slide-text">
                  <h3><a href="#">Выставка <br> современной <br> истории</a></h3>
                  <time class=" text__article-slide-date" datetime="2020-03-20 16:30">20/03/20</time>
                </div>
              </div>
              <p>Описание картинки, если будет нужно, может быть длиннымв несколько строк</p>
            </article>
          </div>
        </div>
        <div class="text__article-slider-controls">
          <button class="text__article-slider--prev" type="button"><span class="visually-hidden">Следующий
              слайд</span></button>
          <button class="text__article-slider--next" type="button"><span class="visually-hidden">Следующий
              слайд</span></button>
        </div>
      </section>

      <section class="text__article">

        <p>В центре внимания выставки — человек и его бытие в экстремальных условиях военной повседневности. Выставка
          представляет события тех лет не только через предметы, свидетельствующие о знаменитых сражениях, блестящих
          операциях и героизме советских людей. Она рассказывает личные истории: через стёршийся на сгибах солдатский
          треугольник, пожелтевшую фотокарточку, через гильзу — талисман, прошедший с хозяином пол-Европы; через кусочек
          «хлеба» из льняных жмыхов, обваленный в овсяной шелухе, — подарок рабочим завода «Большевик» на Новый год;
          через комплекс вещей, принадлежавших студенткам Московского художественного училища (гитлеровцы пытали их,
          затем расстреляли и для устрашения повесили трупы девушек в г. Волоколамске); через предметы, связанные с
          жизнью и судьбой первой женщины-министра Александры Коллонтай, знаменитого разведчика Николая Кузнецова,
          выдающейся певицы и актрисы Клавдии Шульженко, маршала Константина Рокоссовского и многих других героев тех
          лет. Личные истории очевидцев — бесценные свидетельства эпохи, без которых невозможно осмыслить героическую и
          трагическую историю нашей страны.</p>

        <p>На выставке будут представлены более 300 предметов, среди которых — материалы, скомплектованные в военные
          годы, недавно найденные артефакты, материалы из семейных альбомов.... </p>

        <a href="#" class="read-more-show hide">Подробнее</a>

        <div class="read-more-content">
          <p>Начиная с июня 1941 г. Музей современной истории России пополнял коллекцию документами и предметами,
            связанными с Великой Отечественной войной, и до сих пор специалисты занимаются изучением, реставрацией и
            сбором новых материалов, посвящённых трагическим 1418 дням войны.</p>

          <p>Через личные истории на выставке будут показаны важнейшие вехи войны и затронуты такие глобальные темы, как
            всеобщая мобилизация, жизнь и подвиг тыла, научные разработки (в том числе создание советского атомного
            проекта), вклад Русской православной церкви в борьбу с нацизмом, деятельность артистов и творческих
            коллективов на фронте, работа дипломатического корпуса и внешней разведки, жизнь на оккупированных
            территориях, проблема сиротства.</p>

          <p>Выставка является частью мультимедийного образовательного выставочного проекта «Человек и война.
            Нерассказанная история. К 75-летию Победы в Великой Отечественной войне 1941–1945 гг.», подготовленного
            Музеем и автономной некоммерческой организацией дополнительного образования «Центр народного просвещения»
            при поддержке Фонда президентских грантов.</p>
          <a href="#" class="read-more-hide hide">Свернуть</a>
        </div>


        <table>
          <tr>
            <th>Экскурсия</th>
            <th>Адрес объекта</th>
            <th>Дата экскурсии</th>
          </tr>

          <tr>
            <td>
              <b>Экскурсия</b>
              <p>Черноземье и земледелие в условиях зараженности радиацией</p>
              <p><a href="#">Подробнее</a></p>
            </td>
            <td>
              <b>Адрес объекта</b>
              <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
            </td>
            <td>
              <b>Дата экскурсии</b>
              <p>16 сентября, 15:30</p>
            </td>
          </tr>

          <tr>
            <td>
              <b>Экскурсия</b>
              <p>Черноземье и земледелие в условиях зараженности радиацией</p>
              <p><a href="#">Подробнее</a></p>
            </td>
            <td>
              <b>Адрес объекта</b>
              <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
            </td>
            <td>
              <b>Дата экскурсии</b>
              <p>16 сентября, 15:30</p>
            </td>
          </tr>

          <tr>
            <td>
              <b>Экскурсия</b>
              <p>Черноземье и земледелие в условиях зараженности радиацией</p>
              <p><a href="#">Подробнее</a></p>
            </td>
            <td>
              <b>Адрес объекта</b>
              <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
            </td>
            <td>
              <b>Дата экскурсии</b>
              <p>16 сентября, 15:30</p>
            </td>
          </tr>

          <tr>
            <td>
              <b>Экскурсия</b>
              <p>Черноземье и земледелие в условиях зараженности радиацией</p>
              <p><a href="#">Подробнее</a></p>
            </td>
            <td>
              <b>Адрес объекта</b>
              <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
            </td>
            <td>
              <b>Дата экскурсии</b>
              <p>16 сентября, 15:30</p>
            </td>
          </tr>
        </table>

      </section>

      <div class="text__video">
        <div class="text__iframe">
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/8tLH4HYCCgY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe> -->
        </div>
        <p>Описание картинки, если будет нужно, может быть длиннымв несколько строк</p>
        <a class="text__info-btn" href="#">Скачать PDF-релиз</a>
      </div>

      <div class="text__share">
        <section class="social">
          <h2 class="social__title">Поделиться в соцсетях:</h2>
          {% include "../templates/partials/_ya-share.html" %}
        </section>
      </div>
    </article>
  </div>

  <div class="text__wrapper">

    <section class="text__article">

      <h2>Заголовок 2</h2>
      <h3>Заголовок 3</h3>
      <h4>Заголовок 4</h4>

      <p>В центре внимания выставки — человек и его бытие в экстремальных условиях военной повседневности. Выставка
        представляет события тех лет не только через предметы, свидетельствующие о знаменитых сражениях, блестящих
        операциях и героизме советских людей. Она рассказывает личные истории: через стёршийся на сгибах солдатский
        треугольник, пожелтевшую фотокарточку, через гильзу — талисман, прошедший с хозяином пол-Европы; через кусочек
        «хлеба» из льняных жмыхов, обваленный в овсяной шелухе, — подарок рабочим завода «Большевик» на Новый год;
        через комплекс вещей, принадлежавших студенткам Московского художественного училища (гитлеровцы пытали их,
        затем расстреляли и для устрашения повесили трупы девушек в г. Волоколамске); через предметы, связанные с
        жизнью и судьбой первой женщины-министра Александры Коллонтай, знаменитого разведчика Николая Кузнецова,
        выдающейся певицы и актрисы Клавдии Шульженко, маршала Константина Рокоссовского и многих других героев тех
        лет. Личные истории очевидцев — бесценные свидетельства эпохи, без которых невозможно осмыслить героическую и
        трагическую историю нашей страны.</p>
      <ul>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad reiciendis fugiat magnam quia, ullam porro
          mollitia, perspiciatis omnis fugit eveniet odit saepe aperiam eos numquam aspernatur quis dolore molestiae
          possimus.</li>
        <li>Sapiente cupiditate aperiam rem inventore voluptatum quaerat minus voluptates ex illo! Enim quidem commodi
          maiores, ullam temporibus odio culpa repellat dolorem. Consectetur repellendus nihil aspernatur soluta
          expedita, distinctio voluptatem eius.</li>
        <li>Suscipit itaque beatae voluptatum architecto doloribus doloremque ratione delectus aut, sint incidunt quo
          repellendus iusto accusantium iure consectetur rerum ex optio quidem aliquam blanditiis assumenda omnis
          voluptatibus possimus veritatis? Numquam?</li>
        <li>Quidem, architecto unde explicabo vel molestias officiis ex molestiae reiciendis voluptates eos. Quos
          assumenda perspiciatis nisi recusandae fugit harum ipsa blanditiis, esse a, dolore cumque omnis placeat odio
          ea sunt.</li>
        <li>Impedit dolorum laborum beatae neque aut rem, qui voluptatum dicta laboriosam et. Quisquam corrupti ut
          consequatur perspiciatis nostrum vitae repudiandae magnam alias, excepturi cum iste nesciunt ratione deleniti
          totam placeat?</li>
      </ul>
      <ol>
        <li> <a href="#">а я ссылка</a>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad reiciendis fugiat
          magnam quia, ullam porro
          mollitia, perspiciatis omnis fugit eveniet odit saepe aperiam eos numquam aspernatur quis dolore molestiae
          possimus.</li>
        <li>Sapiente cupiditate aperiam rem inventore voluptatum quaerat minus voluptates ex illo! Enim quidem commodi
          maiores, ullam temporibus odio culpa repellat dolorem. Consectetur repellendus nihil aspernatur soluta
          expedita, distinctio voluptatem eius.</li>
        <li>Suscipit itaque beatae voluptatum architecto doloribus doloremque ratione delectus aut, sint incidunt quo
          repellendus iusto accusantium iure consectetur rerum ex optio quidem aliquam blanditiis assumenda omnis
          voluptatibus possimus veritatis? Numquam?</li>
        <li>Quidem, architecto unde explicabo vel molestias officiis ex molestiae reiciendis voluptates eos. Quos
          assumenda perspiciatis nisi recusandae fugit harum ipsa blanditiis, esse a, dolore cumque omnis placeat odio
          ea sunt.</li>
        <li>Impedit dolorum laborum beatae neque aut rem, qui voluptatum dicta laboriosam et. Quisquam corrupti ut
          consequatur perspiciatis nostrum vitae repudiandae magnam alias, excepturi cum iste nesciunt ratione deleniti
          totam placeat?</li>
      </ol>

      <p>На выставке будут представлены более 300 предметов, среди которых — материалы, скомплектованные в военные
        годы, недавно найденные артефакты, материалы из семейных альбомов.... </p>

      <a href="#" class="read-more-show hide">Подробнее</a>

      <div class="read-more-content">
        <p>Начиная с июня 1941 г. Музей современной истории России пополнял коллекцию документами и предметами,
          связанными с Великой Отечественной войной, и до сих пор специалисты занимаются изучением, реставрацией и
          сбором новых материалов, посвящённых трагическим 1418 дням войны.</p>

        <p>Через личные истории на выставке будут показаны важнейшие вехи войны и затронуты такие глобальные темы, как
          всеобщая мобилизация, жизнь и подвиг тыла, научные разработки (в том числе создание советского атомного
          проекта), вклад Русской православной церкви в борьбу с нацизмом, деятельность артистов и творческих
          коллективов на фронте, работа дипломатического корпуса и внешней разведки, жизнь на оккупированных
          территориях, проблема сиротства.</p>

        <p>Выставка является частью мультимедийного образовательного выставочного проекта «Человек и война.
          Нерассказанная история. К 75-летию Победы в Великой Отечественной войне 1941–1945 гг.», подготовленного
          Музеем и автономной некоммерческой организацией дополнительного образования «Центр народного просвещения»
          при поддержке Фонда президентских грантов.</p>
        <a href="#" class="read-more-hide hide">Свернуть</a>
      </div>

      <table>
        <tr>
          <th>Экскурсия</th>
          <th>Адрес объекта</th>
          <th>Дата экскурсии</th>
        </tr>

        <tr>
          <td>
            <b>Экскурсия</b>
            <p>Черноземье и земледелие в условиях зараженности радиацией</p>
            <p><a href="#">Подробнее</a></p>
          </td>
          <td>
            <b>Адрес объекта</b>
            <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
          </td>
          <td>
            <b>Дата экскурсии</b>
            <p>16 сентября, 15:30</p>
          </td>
        </tr>

        <tr>
          <td>
            <b>Экскурсия</b>
            <p>Черноземье и земледелие в условиях зараженности радиацией</p>
            <p><a href="#">Подробнее</a></p>
          </td>
          <td>
            <b>Адрес объекта</b>
            <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
          </td>
          <td>
            <b>Дата экскурсии</b>
            <p>16 сентября, 15:30</p>
          </td>
        </tr>

        <tr>
          <td>
            <b>Экскурсия</b>
            <p>Черноземье и земледелие в условиях зараженности радиацией</p>
            <p><a href="#">Подробнее</a></p>
          </td>
          <td>
            <b>Адрес объекта</b>
            <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
          </td>
          <td>
            <b>Дата экскурсии</b>
            <p>16 сентября, 15:30</p>
          </td>
        </tr>

        <tr>
          <td>
            <b>Экскурсия</b>
            <p>Черноземье и земледелие в условиях зараженности радиацией</p>
            <p><a href="#">Подробнее</a></p>
          </td>
          <td>
            <b>Адрес объекта</b>
            <p>Россия, г. Москва, пер. Знаменский Малый, д. 3/5, стр. 10</p>
          </td>
          <td>
            <b>Дата экскурсии</b>
            <p>16 сентября, 15:30</p>
          </td>
        </tr>
      </table>

      <div class="text__share">
        <section class="social">
          <h2 class="social__title">Поделиться в соцсетях:</h2>
          <ul class="social__list  social__list--in-text">
            <li class="social__item"><a href="#" class="social__link  social__link--fb"><span
                  class="visually-hidden">Вк</span></a></li>
            <li class="social__item"><a href="#" class="social__link  social__link--vk"><span
                  class="visually-hidden"></span></a></li>
            <li class="social__item"><a href="#" class="social__link  social__link--ok"><span
                  class="visually-hidden"></span></a></li>
            <li class="social__item"><a href="#" class="social__link  social__link--inst"><span
                  class="visually-hidden"></span></a></li>
            <li class="social__item"><a href="#" class="social__link  social__link--tw"><span
                  class="visually-hidden"></span></a></li>
          </ul>
        </section>
      </div>

    </section>


    {% include "../templates/partials/_accordion.html" %}
  </div>

  <div class="text__slider">
    <div class="popup-slider">
      <div class="popup__slider-list" id="lightgallery">
        <div class="popup__slider-item">
          <a href="/img/text/popup/popup-desktop.jpg" data-srcset="
            /img/text/popup/popup-mobile.jpg 375w,
            /img/text/popup/popup-tablet.jpg 768w,
            /img/text/popup/popup-desktop.jpg 1440w" data-sizes="(min-width: 320px) 768px, 1440px"
            data-sub-html="<p>Подпись к данной фотографии которая обьясняет чуть больше чем название и может быть в несколько строк</p>">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/text/slider/slide-img-1-desktop.jpg"
                srcset="/img/text/slider/slide-img-1-desktop.jpg">
              <img class="lozad" data-src="/img/text/slider/slide-img-1-mobile.jpg"
                src="/img/text/slider/slide-img-1-mobile.jpg" alt="Название фотографии" loading="lazy">
            </picture>
          </a>
        </div>
        <div class="popup__slider-item">
          <a href="/img/text/popup/popup-desktop.jpg" data-srcset="
          /img/text/popup/popup-mobile.jpg 375w,
          /img/text/popup/popup-tablet.jpg 768w,
          /img/text/popup/popup-desktop.jpg 1440w" data-sizes="(min-width: 320px) 768px, 1440px"
            data-sub-html="<p>Подпись к данной фотографии которая обьясняет чуть больше чем название и может быть в несколько строк</p>">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/text/slider/slide-img-2-desktop.jpg"
                srcset="/img/text/slider/slide-img-2-desktop.jpg">
              <img class="lozad" data-src="/img/text/slider/slide-img-2-mobile.jpg"
                src="/img/text/slider/slide-img-2-mobile.jpg" alt="Название фотографии" loading="lazy">
            </picture>
          </a>
        </div>
        <div class="popup__slider-item">
          <a href="/img/text/popup/popup-desktop.jpg" data-srcset="
          /img/text/popup/popup-mobile.jpg 375w,
          /img/text/popup/popup-tablet.jpg 768w,
          /img/text/popup/popup-desktop.jpg 1440w" data-sizes="(min-width: 320px) 768px, 1440px"
            data-sub-html="<p>Подпись к данной фотографии которая обьясняет чуть больше чем название и может быть в несколько строк</p>">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/text/slider/slide-img-3-desktop.jpg"
                srcset="/img/text/slider/slide-img-3-desktop.jpg">
              <img class="lozad" data-src="/img/text/slider/slide-img-3-mobile.jpg"
                src="/img/text/slider/slide-img-3-mobile.jpg" alt="Название фотографии" loading="lazy">
            </picture>
          </a>
        </div>
        <div class="popup__slider-item">
          <a href="/img/text/popup/popup-desktop.jpg" data-srcset="
          /img/text/popup/popup-mobile.jpg 375w,
          /img/text/popup/popup-tablet.jpg 768w,
          /img/text/popup/popup-desktop.jpg 1440w" data-sizes="(min-width: 320px) 768px, 1440px"
            data-sub-html="<p>Подпись к данной фотографии которая обьясняет чуть больше чем название и может быть в несколько строк</p>">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/text/slider/slide-img-4-desktop.jpg"
                srcset="/img/text/slider/slide-img-4-desktop.jpg">
              <img class="lozad" data-src="/img/text/slider/slide-img-4-mobile.jpg"
                src="/img/text/slider/slide-img-4-mobile.jpg" alt="Название фотографии" loading="lazy">
            </picture>
          </a>
        </div>
        <div class="popup__slider-item">
          <a href="/img/text/popup/popup-desktop.jpg" data-srcset="
          /img/text/popup/popup-mobile.jpg 375w,
          /img/text/popup/popup-tablet.jpg 768w,
          /img/text/popup/popup-desktop.jpg 1440w" data-sizes="(min-width: 320px) 768px, 1440px"
            data-sub-html="<p>Подпись к данной фотографии которая обьясняет чуть больше чем название и может быть в несколько строк</p>">
            <picture>
              <source media="(min-width: 1440px)" data-src="/img/text/slider/slide-img-4-desktop.jpg"
                srcset="/img/text/slider/slide-img-4-desktop.jpg">
              <img class="lozad" data-src="/img/text/slider/slide-img-4-mobile.jpg"
                src="/img/text/slider/slide-img-4-mobile.jpg" alt="Название фотографии" loading="lazy">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>


{% include "../templates/partials/_table.html" %}


{% endblock %}
