---
title: история музея
---
{% extends "../templates/layouts/_layout-inner.html" %}

{% block content %}


<section class="timeline">
  <div class="timeline__wrapper  data-simplebar" data-simplebar-auto-hide=" false">
    <ul class="timeline__list">
      <li class="timeline__item">
        <div class="timeline__content">
          <div class="timeline__year">1831-1917 годы</div>
          <div class="timeline__header  timeline__header--pink">
            <h2>Английский клуб</h2>
          </div>
          <div class="timeline__text">
            <p>Музей расположен в центре Москвы в здании-памятнике архитектуры позднего классицизма конца XVIII века. С
              1831 по 1917 годы в нем размещался Московский Английский клуб.</p>
            <a href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="timeline__item">
        <div class="timeline__content">
          <div class="timeline__year">1917 год</div>
          <div class="timeline__header">
            <h2>Создание музея</h2>
          </div>
          <div class="timeline__picture"><img src="/img/history-pic-1.jpg" alt=""></div>
          <div class="timeline__text-mobile">
            <p>Днем рождения музея считается 21 марта (8 марта по старому стилю) 1917 года, когда директор музея
              Всероссийского Союза городов, известный журналист В.П.Кранихфельд обратился к председателю Исполнительного
              Комитета Московских общественных организаций ...</p>

            <a href="#" class="read-more-show hide">Подробнее</a>
            <div class="read-more-content">
              <p>Н.М.Кишкину с предложением «безотлагательно созвать совещание
                из представителей исторической науки и существующих в Москве музеев с целью научной и практической
                разработки вопроса о создании в Москве Музея революции».</p>
              <p>На совещании, которое состоялось 4 апреля (22 марта по старому стилю) 1917 года, было создано Общество
                Музея революции, объединившее людей различных политических убеждений: прогрессивных ученых, деятелей
                культуры, писателей и публицистов, представителей различных течений русского революционно —
                освободительного движения. Именно тогда были определены основные направления деятельности будущего
                Музея:
                собирать разноплановые источники и всесторонне изучать историю русского освободительного движения.</p>
              <a href="#" class="read-more-hide hide">Свернуть</a>
            </div>
          </div>
          <div class="timeline__text">
            <p>Днем рождения музея считается 21 марта (8 марта по старому стилю) 1917 года, когда директор музея
              Всероссийского Союза городов, известный журналист В.П.Кранихфельд обратился к председателю Исполнительного
              Комитета Московских общественных организаций Н.М.Кишкину с предложением «безотлагательно созвать совещание
              из представителей исторической науки и существующих в Москве музеев с целью научной и практической
              разработки вопроса о создании в Москве Музея революции».</p>
            <p>На совещании, которое состоялось 4 апреля (22 марта по старому стилю) 1917 года, было создано Общество
              Музея революции, объединившее людей различных политических убеждений: прогрессивных ученых, деятелей
              культуры, писателей и публицистов, представителей различных течений русского революционно —
              освободительного движения. Именно тогда были определены основные направления деятельности будущего Музея:
              собирать разноплановые источники и всесторонне изучать историю русского освободительного движения.</p>
          </div>
        </div>
      </li>
      <li class="timeline__item">
        <div class="timeline__content">
          <div class="timeline__video">
            {% include "../templates/partials/_video.html" %}
          </div>
          <div class="timeline__year">1831-1917 годы </div>
          <div class="timeline__text">
            <p>Музей расположен в центре Москвы в здании-памятнике архитектуры позднего классицизма конца XVIII века. С
              1831 по 1917 годы в нем размещался Московский Английский клуб.</p>
          </div>
        </div>
      </li>
      <li class="timeline__item">
        <div class="timeline__content">
          <div class="timeline__year">1917 год</div>
          <div class="timeline__text">
            <p>Днем рождения музея считается 21 марта (8 марта по старому стилю) 1917 года, когда директор музея
              Всероссийского Союза городов, известный журналист В.П.Кранихфельд обратился к председателю Исполнительного
              Комитета Московских общественных организаций Н.М.Кишкину с предложением «безотлагательно созвать совещание
              из представителей исторической науки и существующих в Москве музеев с целью научной и практической
              разработки вопроса о создании в Москве Музея революции».</p>
            <p>На совещании, которое состоялось 4 апреля (22 марта по старому стилю) 1917 года, было создано Общество
              Музея революции, объединившее людей различных политических убеждений: прогрессивных ученых, деятелей
              культуры, писателей и публицистов, представителей различных течений русского революционно —
              освободительного движения. Именно тогда были определены основные направления деятельности будущего Музея:
              собирать разноплановые источники и всесторонне изучать историю русского освободительного движения.</p>
          </div>
        </div>
      </li>
      <li class="timeline__item">
        <div class="timeline__content">
          <div class="timeline__year">1831-1917 годы </div>
          <div class="timeline__text">
            <p>Музей расположен в центре Москвы в здании-памятнике архитектуры позднего классицизма конца XVIII века. С
              1831 по 1917 годы в нем размещался Московский Английский клуб.</p>
          </div>
        </div>
      </li>
      <li class="timeline__item">
        <div class="timeline__content">
          <div class="timeline__year">1917 год</div>
          <div class="timeline__text">
            <p>Днем рождения музея считается 21 марта (8 марта по старому стилю) 1917 года, когда директор музея
              Всероссийского Союза городов, известный журналист В.П.Кранихфельд обратился к председателю Исполнительного
              Комитета Московских общественных организаций Н.М.Кишкину с предложением «безотлагательно созвать совещание
              из представителей исторической науки и существующих в Москве музеев с целью научной и практической
              разработки вопроса о создании в Москве Музея революции».</p>
            <p>На совещании, которое состоялось 4 апреля (22 марта по старому стилю) 1917 года, было создано Общество
              Музея революции, объединившее людей различных политических убеждений: прогрессивных ученых, деятелей
              культуры, писателей и публицистов, представителей различных течений русского революционно —
              освободительного движения. Именно тогда были определены основные направления деятельности будущего Музея:
              собирать разноплановые источники и всесторонне изучать историю русского освободительного движения.</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>

<section class="banners">
  <div class="banners__wrapper">
    <ul class="banners__list  banners__list--grid">
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
      <li class="banners__list-item">
        <a href="#">
          <picture>
            <source media="(min-width: 1440px)" data-src="/img/banners/banner-gray-desktop.jpg"
              srcset="/img/banners/banner-gray-desktop.jpg">
            <img class="lozad" data-src="/img/banners/banner-gray-mobile.jpg" src="/img/banners/banner-gray-mobile.jpg"
              alt="Баннер партнера>">
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
